Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

misspelled nav item
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

swap images in homepage
  _assets/css/index.scss
  _assets/images/design.png
  _assets/images/markus.png
  _assets/images/mission.png
  _assets/images/rupixen.png
  _assets/images/test.png
  _assets/images/training.png
  _includes/highlights.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added fixex to files
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/content-pages/2020-10-05-test-web-software-andi-training-videos.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-reporting-faq.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play02.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

deleting state policy
  _pages/content-pages/2018-05-29-node-96.md
Owners: @alexwilsongsa

fixed open issues
  _pages/acquisition/2018-05-29-buy-determine-ict-standards.md
  _pages/acquisition/2018-05-29-buy.md
  _pages/training/2018-05-15-tools-playbooks.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
Owners: @alexwilsongsa

fixed markdown
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
Owners: @alexwilsongsa

adding secondary navigation skip button
  _includes/header.html
  _layouts/page.html
  _layouts/video.html
Owners: @drewnielson, @michaelhortongsa

fixing andi training videos page
  _pages/content-pages/2020-10-05-test-web-software-andi-training-videos.md
  _pages/videos/2020-10-05-test-web-software-andi-training-videos.md
Owners: @alexwilsongsa

fixing andi training videos page
  _data/sidenav.yaml
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-17-create-testing-for-developers.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/create/documnets-authoring-guide.md
  _pages/create/pdf-authoring-guide.md
  _pages/create/presentation-authoring-guide.md
  _pages/create/spreadsheet-authoring-guide.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding andipage text
  _pages/videos/2020-10-05-test-web-software-andi-training-videos.md
Owners: @alexwilsongsa

fixing authoring guides
  _data/sidenav.yaml
  _pages/create/documnets-authoring-guide.md
  _pages/create/pdf-authoring-guide.md
  _pages/create/presentation-authoring-guide.md
  _pages/create/spreadsheet-authoring-guide.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing url's
  _pages/create/documnets-authoring-guide.md
  _pages/create/pdf-authoring-guide.md
  _pages/create/presentation-authoring-guide.md
  _pages/create/spreadsheet-authoring-guide.md
Owners: @alexwilsongsa

fixing manger
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing link
  _pages/videos/2020-01-22-create-documents-aed-cop-docx03.md
Owners: @alexwilsongsa

fixing link
  _pages/videos/2020-01-22-create-documents-aed-cop-docx09.md
Owners: @alexwilsongsa

fixing test page
  _pages/test/2018-05-17-create-testing-for-developers.md
Owners: @alexwilsongsa

tips link fix
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing powerpoint presentation
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/creating-powerpoint-templates.md
Owners: @alexwilsongsa

tips link fix
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed assigned UAT issues
  _assets/css/index.scss
  _data/sidenav.yaml
  _includes/footer.html
  _pages/acquisition/2018-05-29-buy.md
  _pages/content-pages/2020-08-03-art-glossary.md
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/create/2019-12-12-create-electronic-signatures.md
  _pages/manage/2018-05-28-manage-understand-scope-technical-requirements.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-08-13-manage-program-manager-responsibilities.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-08-training.md
  _posts/2017-03-13-blog-microsoft-enhances-tests-accessibility.md
  _posts/2018-06-01-blog-section508-facelift.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

537 562 563 565 fix
  _events/2021-06-12-iaaf.md
  _pages/training/2018-05-15-tools-playbooks.md
  _pages/videos/2020-01-09-training-presentations-workshops-keynote-tony-coelho.md
  _pages/videos/2020-10-05-test-web-software-andi-training-videos.md
Owners: @alexwilsongsa

fixing art issues
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed issues
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/manage/2018-06-26-manage-join-the-508-community.md
Owners: @alexwilsongsa

fixed two links
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/manage/2018-06-26-manage-join-the-508-community.md
Owners: @alexwilsongsa

fixing issues
  _events/2021-06-12-iaaf.md
  _pages/create/2019-12-12-create-electronic-signatures.md
Owners: @alexwilsongsa

fixing date
  _events/2021-06-12-iaaf.md
Owners: @alexwilsongsa

fixing link
  _events/2021-06-12-iaaf.md
Owners: @alexwilsongsa

fix
  _assets/css/index.scss
Owners: @drewnielson

fix
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
Owners: @alexwilsongsa

fix
  _assets/css/index.scss
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @alexwilsongsa

Update index.scss
  _assets/css/index.scss
Owners: @drewnielson

d
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

fixing iaaf 508 issues
  _assets/css/index.scss
  _includes/footer.html
  _pages/content-pages/2020-09-24-iaaf-agenda.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

fixing 508 issue
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

added changes from ART sheet
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

changes made to solicitation and other art pages
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

removed authorization
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

modified the select exceptions
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

modified policies to policy
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

jquery fix for art
  _includes/meta_art.html
Owners: @drewnielson, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa
