Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Updated layout issues conducting research page
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Updated layout issues and syntax conducting research page
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Spacing issues on Conducting usability testing
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

syntax and other code fix for conducting and questionnaire
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

syntax and other code fix for conducting and questionnaire take 3
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

syntax and other code fix for conducting and questionnaire take 4
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

syntax and other code fix for conducting and questionnaire take 5
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

My signed commit
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated icon lists
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Fixed 508 pm description broken link (#1196)
  _pages/manage/2025-08-11-manage-team-roles-responsibilities.md
  _pages/manage/playbooks/2018-05-15-manage-play-01.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

increase element height for minimum clickable region
  _layouts/contributor_org.html
Owners: @drewnielson, @michaelhortongsa

Updated icons and fixed lists
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-09-24-usability-testing-with-people-with-disabilities.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fix color contrast guidance page
  _pages/create/2025-08-07-color-usage-accessible.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Pages-wcag22-scan-patch (#1197)
  _layouts/contributor_org.html
  _pages/create/2025-08-07-color-usage-accessible.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Proposed page redesign and copy
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Proposed page redesign and copy
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

removed process list
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

added baseurl
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

remove table, number accordions
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

added step 7
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-09-24-usability-testing-with-people-with-disabilities.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

redo sytep 5
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage funding lapse notification
  _data/alert.yaml
  _pages/content-pages/important-notice.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

test alert logic in art banner.comp
  src/app/shared/components/section508-banner/section508-banner.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

reset banner-comp, try header-comp
  src/app/shared/components/section508-banner/section508-banner.component.html
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

reset header-comp
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

hard code alert
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

hard code alert completely
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

hard code alert completely, move up
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

adjust padding
  _includes/header_alert.html
Owners: @drewnielson, @michaelhortongsa

adjust padding
  _includes/header_alert.html
Owners: @drewnielson, @michaelhortongsa

try differently
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

try differently
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

try differently, padding, font
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

back out base template change
  _includes/header_alert.html
Owners: @drewnielson, @michaelhortongsa

i give up. sufficnet banners are available in this branch.
  _data/alert.yaml
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

revert text to match SOP
  _pages/content-pages/important-notice.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Organizational edits; add h2 Planning and Managing Research Logistics
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Remove process list in favor of accordion format
  _pages/develop/2025-09-24-recruitment-questionnaire-process copy.md
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
