Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc

Iaaf landing update (#1088)
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

test docx and nanoid removal
  package-lock.json
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update 2023-03-28-manage-gwaa.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

remove assessment criteria link; replace bad link
  _pages/manage/2023-08-14-mangage-agency-508-reporting requirements.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Aprilassessmentupdates (#1087)
  _data/gwaa_criteria_understanding.yaml
  _data/gwaa_faq.yaml
  _data/sidenav.yaml
  _includes/highlights.html
  _pages/manage/2018-05-22-manage.md
  _pages/manage/2023-08-14-mangage-agency-508-reporting requirements.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-01.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-02.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-03.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-04.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-05.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-06.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-07.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-08.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-09.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-10.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-11.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-faq.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-instructions.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-support.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa.md
  _pages/manage/annual-assessment/2023-12-13-manage-gwaa-annual-reports.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

stage iaaf hero
  _includes/hero.html
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update bg image
  assets/css/index.scss
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update promo text
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Iaaf hero (#1089)
  _includes/hero.html
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage v2 of IAAF agenda and bios
  _pages/training/2025-05-05-iaaf-agenda.md
  _pages/training/2025-05-05-iaaf-biographies.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add aditional updates to agenda and bios
  _bios_iaaf/eng-kathy.md
  _bios_iaaf/fulay-pradeep.md
  _bios_iaaf/guidi-claudia.md
  _bios_iaaf/haileselassie_antonio.md
  _bios_iaaf/harris-fred.md
  _bios_iaaf/horton_michael.md
  _bios_iaaf/miller-laura.md
  _bios_iaaf/nielson_andrew.md
  _bios_iaaf/pavithran-sachin.md
  _bios_iaaf/pomeroy_daniel.md
  _bios_iaaf/sirk_betsy.md
  _bios_iaaf/smith-oconnor-kristen.md
  _bios_iaaf/vadati-alex.md
  _bios_iaaf/wilcox-lisa.md
  _bios_iaaf/wilson-alex.md
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Test bug
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix 2
  _bios_iaaf/sorathia-sarah.md
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Test bugfix 3
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix 4
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix 5
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix 6
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix 7
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix 8 EOD #2
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Test bugfix 9 EOD #2 colon
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update agenda, bio images
  _bios_iaaf/fulay-pradeep.md
  _bios_iaaf/guidi-claudia.md
  _bios_iaaf/harris-fred.md
  _bios_iaaf/vadati-alex.md
  _bios_iaaf/wilcox-lisa.md
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update agenda session types
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update agenda session description
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update agenda session description again
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update bios and headshots
  _bios_iaaf/guidi-claudia.md
  _bios_iaaf/haileselassie_antonio.md
  _bios_iaaf/harris-fred.md
  _bios_iaaf/laurin-susanna.md
  _bios_iaaf/wilcox-lisa.md
  assets/images/bio-images/guidi-claudia.jpg
  assets/images/bio-images/haileselassie-antonio.jpg
  assets/images/bio-images/haileselassie-antonio.png
  assets/images/bio-images/hailesellasie-antonio.jpg
  assets/images/bio-images/harris-frederick.jpg
  assets/images/bio-images/laurin-susanna.jpg
  assets/images/bio-images/wilcox-lisa.jpg
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update bios and headshots
  _bios_iaaf/fulay-pradeep.md
  _bios_iaaf/guidi-claudia.md
  _bios_iaaf/harris-fred.md
  _bios_iaaf/laurin-susanna.md
  _bios_iaaf/vadati-alex.md
  _bios_iaaf/wilcox-lisa.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add custom social media image
  _pages/training/2022-08-17-iaaf-agenda.md
  _pages/training/2022-08-17-iaaf-biographies.md
  _pages/training/2023-09-23-iaaf-agenda.md
  _pages/training/2023-09-23-iaaf-biographies.md
  _pages/training/2024-09-12-iaaf-agenda.md
  _pages/training/2024-09-12-iaaf-biographies.md
  _pages/training/2025-05-05-iaaf-agenda.md
  _pages/training/2025-05-05-iaaf-biographies.md
  assets/images/social-media-og-image-iaaf.jpg
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Mod bio
  _bios_iaaf/sorathia-sarah.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

*added headings to download page and split content *addeded html links to report heading
  _pages/manage/annual-assessment/2024-report/2024-assessment-data.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

re-ordered analysis
  _pages/manage/annual-assessment/2023-report/2023-assessment-data.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

removed rogure <li>
  _pages/manage/annual-assessment/2023-report/2023-assessment-data.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

minor wording edit
  _pages/manage/annual-assessment/2023-report/2023-assessment-data.md
  _pages/manage/annual-assessment/2024-report/2024-assessment-data.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

minor wording edit (#1092)
  _pages/manage/annual-assessment/2023-report/2023-assessment-data.md
  _pages/manage/annual-assessment/2024-report/2024-assessment-data.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Mod bios and landing page
  _bios_iaaf/charron-nadine.md
  _bios_iaaf/guidi-claudia.md
  _bios_iaaf/levy-alison.md
  _data/iaaf_sessions.yaml
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Mod day 1 sessions
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

*added headings to download page and split content (#1091)
  _pages/manage/annual-assessment/2023-report/2023-assessment-data.md
  _pages/manage/annual-assessment/2024-report/2024-assessment-data.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Mod day 2 sessions
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Mod landing
  _events/events-iaaf-landing.md
  _pages/training/2025-05-05-iaaf-agenda.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fix timestamp bug
  _data/iaaf_sessions.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc
