Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

added changes to file
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

sync with master
  .gitignore
  _assets/js/app.js
  _includes/header.html
  _includes/menu.html
  _includes/meta_art.html
  _pages/2020-08-04-ict-accessibility.md
  _pages/content-pages/2018-05-30-content-page-not-found-404-error.md
  _pages/content-pages/2019-05-09-content-requiring-business-partners-provide-accessible-documents.md
  _pages/content-pages/2020-09-28-iaaf-biographies.md
  _pages/develop/2018-05-28-create-universal-design.md
  _pages/manage/2018-05-25-manage-reporting.md
  _pages/manage/2018-05-28-manage-program-management.md
  _pages/manage/2018-05-28-manage-teach-staff-about-accessibility.md
  _pages/manage/2018-05-29-manage-laws-and-policies-update-agency-policies.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-content-management-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-data-services-or-information-retrieval-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-documents.md
  _pages/sample-procurement/2020-11-20-sample-procurement-servers.md
  _pages/sample-procurement/2020-11-20-sample-procurement-voip-services.md
  _pages/test/2018-05-22-test-testing-overview.md
  _pages/training/2018-05-08-training.md
  _pages/training/2020-02-27-content-glossary.md
  _pages/videos/2020-01-22-create-documents-aed-cop-docx02.md
  _posts/2018-01-17-blog-Accessibility-Requirements-Tool-is-Live.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed links and ANDI issue
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

fixed ANDI issues
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

fixing agenda and bios
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/content-pages/2020-09-28-iaaf-biographies.md
Owners: @alexwilsongsa

fixing jquery
  _includes/meta.html
Owners: @drewnielson, @michaelhortongsa

removing jquery-1.9.1.min.js
  art/jquery-1.9.1.min.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing thumbnail
  _pages/create/2018-05-15-create-presentations.md
Owners: @alexwilsongsa

adding redirect
  art/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added links for lousiana and cio broken page
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play06.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play10.md
Owners: @alexwilsongsa

updated iaaf
  _events/2021-06-12-iaaf.md
  assets/images/iaaf-reg-now.png
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

updated iaaf andi issue
  _events/2021-06-12-iaaf.md
Owners: @alexwilsongsa

add Markdown escape for html in text
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
Owners: @alexwilsongsa

fix aria-label typo
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
Owners: @alexwilsongsa

fixing 404
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play08.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
Owners: @alexwilsongsa

fixing broken links
  _pages/content-pages/2020-08-27-iaaf-archives.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play05.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play08.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-05-18-blog-celebrate-global-accessibility-awareness-day-2017.md
Owners: @alexwilsongsa

adding url variable
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding config changes
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding config changes
  _includes/meta.html
Owners: @drewnielson, @michaelhortongsa

adding config changes
  404.html
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing broken links
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/training/2018-05-15-tools-playbooks.md
Owners: @alexwilsongsa

fixing broken links
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro.md
Owners: @alexwilsongsa

about us change
  _pages/content-pages/2018-05-08-content-about-us.md
Owners: @alexwilsongsa

removing art files
  _pages/content-pages/2020-08-03-art-art-art-question-guide.md
  _pages/content-pages/2020-08-03-art-art-retrieving-existing-procurement-form.md
  _pages/content-pages/2020-08-04-art-art-accessibility-requirements-tool-art-user-manual.md
Owners: @alexwilsongsa

fixing 404
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
Owners: @alexwilsongsa

fixing url
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro.md
Owners: @alexwilsongsa

adding www
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing url
  _pages/create/2019-12-12-create-electronic-signatures.md
Owners: @alexwilsongsa

fixing no name issue
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx02.md
Owners: @alexwilsongsa

fixing no name issue
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx02.md
Owners: @alexwilsongsa

datatable jquery fix
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
Owners: @alexwilsongsa

Adding Blog file for 2021 Annual Interagency Forum (IAAF)
  _posts/2021-09-30-blog-IAAF-2021.md
Owners: @alexwilsongsa

fixed yaml and line breaks
  _posts/2021-09-30-blog-IAAF-2021.md
Owners: @alexwilsongsa

remove date in description
  _posts/2021-09-30-blog-IAAF-2021.md
Owners: @alexwilsongsa

Update 2021-09-30-blog-IAAF-2021.md
  _posts/2021-09-30-blog-IAAF-2021.md
Owners: @alexwilsongsa

Blog iaaf21 (#167)
  _posts/2021-09-30-blog-IAAF-2021.md
Owners: @alexwilsongsa

IAAF Agenda and Bios Draft initiated
  _pages/content-pages/2021-09-30-iaaf-agenda.md
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

FindPM_Update
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

collab session
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

add session-type style
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa
