Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc

alternate card format
  _includes/library-cards2.html
  _includes/library-filters2.html
  _pages/content-lirbrary2.html
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage the whats new changelog for demo.
  _includes/blog-sidenav.html
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2025-06-11-buy-understand-exceptions.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/manage/playbooks/2018-08-15-manage-playbooks-exec-guide-accessibility.md
  _pages/tools/2025-03-07-tools-acronyms.md
  _pages/tools/2025-07-01-change-log.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update baseurl for uswds icon
  _pages/tools/2025-07-01-change-log.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update baseurl for url
  _pages/tools/2025-07-01-change-log.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update page date
  _pages/create/2018-05-29-create-pdfs.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

What's New on Section508.gov (#1130)
  _includes/blog-sidenav.html
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2025-06-11-buy-understand-exceptions.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/manage/playbooks/2018-08-15-manage-playbooks-exec-guide-accessibility.md
  _pages/tools/2025-03-07-tools-acronyms.md
  _pages/tools/2025-07-01-change-log.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage possible rss feed
  _pages/tools/feed.xml
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

initial card data-filter edit
  _includes/library-cards2.html
  _includes/library-filters2.html
Owners: @drewnielson, @michaelhortongsa

Refine library card auto-generate with data filters
  _includes/library-cards2.html
  _includes/library-filters2.html
Owners: @drewnielson, @michaelhortongsa

start adding active filters list
  _includes/library-cards2.html
  _includes/library-filters2.html
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

start changing filter list to usa-checkbox
  _includes/library-cards2.html
  _includes/library-filters2.html
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage byte 10 and retroactive updates for whats new, plus pm list updates
  Gemfile.lock
  _pages/create/2024-05-29-create-cc-transcripts.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2024-05-14-byte-000-introduction.md
  _posts/2024-05-16-byte-001-built-in-checkers.md
  _posts/2024-06-13-byte-002-color-contrast.md
  _posts/2024-07-11-byte-003-color-only.md
  _posts/2024-08-14-byte-004-descriptive-links.md
  _posts/2024-09-05-byte-005-alternative-text.md
  _posts/2024-10-16-byte-006-document-headings.md
  _posts/2024-11-14-byte-007-lists.md
  _posts/2024-12-19-a-byte-008-qr-code.md
  _posts/2025-05-13-byte-009.md
  _posts/2025-06-18-byte-010.md
  assets/images/byte-010-figure-1.jpg
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update do dont
  _posts/2025-06-18-byte-010.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updates per kmsoc
  _includes/hero.html
  _pages/create/2024-05-29-create-cc-transcripts.md
  _posts/2025-06-18-byte-010.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage byte 10 and retroactive updates for whats new, plus pm list upd… (#1131)
  Gemfile.lock
  _includes/hero.html
  _pages/create/2024-05-29-create-cc-transcripts.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2024-05-14-byte-000-introduction.md
  _posts/2024-05-16-byte-001-built-in-checkers.md
  _posts/2024-06-13-byte-002-color-contrast.md
  _posts/2024-07-11-byte-003-color-only.md
  _posts/2024-08-14-byte-004-descriptive-links.md
  _posts/2024-09-05-byte-005-alternative-text.md
  _posts/2024-10-16-byte-006-document-headings.md
  _posts/2024-11-14-byte-007-lists.md
  _posts/2024-12-19-a-byte-008-qr-code.md
  _posts/2025-05-13-byte-009.md
  _posts/2025-06-18-byte-010.md
  assets/images/byte-010-figure-1.jpg
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

topic and sub-topic filter checkboxes
  _includes/library-cards2.html
  _includes/library-filters2.html
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage byte 11, file maintenance, and PM Listserv.
  _pages/tools/2025-07-01-whats-new.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2024-05-14-byte-000.md
  _posts/2024-05-16-byte-001.md
  _posts/2024-06-13-byte-002.md
  _posts/2024-07-11-byte-003.md
  _posts/2024-08-14-byte-004.md
  _posts/2024-09-05-byte-005.md
  _posts/2024-10-16-byte-006.md
  _posts/2024-12-19-a-byte-008.md
  _posts/2025-07-09-byte-011.md
  assets/images/byte-011-figure-1.jpg
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update remaining filters to uswds checkbox tiles
  _includes/library-filters2.html
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage byte 11 file data, PM list NASA
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2025-07-08-byte-011.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage byte 11 file date
  _posts/2025-07-10-byte-011.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

tweak title
  _posts/2025-07-10-byte-011.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

tweak title, revert
  _posts/2025-07-10-byte-011.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update hero
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

update hero again
  _includes/hero.html
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update hero.html and fixed link
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

stage byte 11, file maintenance, and PM List (#1132)
  _includes/hero.html
  _pages/tools/2025-07-01-whats-new.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2024-05-14-byte-000.md
  _posts/2024-05-16-byte-001.md
  _posts/2024-06-13-byte-002.md
  _posts/2024-07-11-byte-003.md
  _posts/2024-08-14-byte-004.md
  _posts/2024-09-05-byte-005.md
  _posts/2024-10-16-byte-006.md
  _posts/2024-12-19-a-byte-008.md
  _posts/2025-07-10-byte-011.md
  assets/css/index.scss
  assets/images/byte-011-figure-1.jpg
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update whats new sort logic based on date for page and post rather than alpha sort page then post.
  _pages/tools/2025-07-01-whats-new.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update whats new sort logic based on date for page and post rather than alpha sort page then post. (#1133)
  _pages/tools/2025-07-01-whats-new.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add JS to hide and display cards based on filter selection
  _includes/library-cards2.html
  _includes/library-filters2.html
  _includes/scripts.html
  _pages/content-lirbrary2.html
  assets/css/index.scss
  assets/js/content-library.js
  assets/js/isotope.pkgd.min.js
  assets/js/isotope.settings.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add files via upload
  assets/files/iaaf/2025/New Required Course Justification Example.docx
  assets/files/iaaf/2025/New Required Course Justification Template.docx
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

new content
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

V1
  _pages/manage/2025-07-14-FAR-model-deviation.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated doc links
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update nav links
  _data/sidenav.yaml
  _pages/manage/2018-05-22-manage.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Removed extra spaces
  _pages/manage/2018-05-22-manage.md
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fresh branch for content library
  _includes/library-cards.html
  _includes/library-filters.html
  _includes/scripts.html
  _pages/content-pages/content-library.html
  assets/css/index.scss
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated front matter
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed quote
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed end tag
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updates to tables and lists
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc
