Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

add h1 tag to banner title
  _includes/banner.html
Owners: @drewnielson, @michaelhortongsa

h1 that is screen reader only, for homepage
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

fixed issues
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/acquisition/2018-05-29-buy-determine-ict-standards.md
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/create/create-accessible-meetings.md
  _pages/manage/2018-05-25-manage-reporting.md
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _posts/2017-03-13-blog-microsoft-enhances-tests-accessibility.md
Owners: @alexwilsongsa

adding redirect removing date
  _assets/css/index.scss
  _data/sidenav.yaml
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx00.md
  blog/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added fix for 508 program manager
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

removing date
  _layouts/post.html
Owners: @drewnielson, @michaelhortongsa

removed the back to top button
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

solved the merge conflict
  _pages/create/2018-05-22-create.md
Owners: @alexwilsongsa

ANDI video pages added title
  _assets/images/logos/omb-logo.png
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/training/2018-05-08-training.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-focus-element.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-images.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-links-buttons.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-overview.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-structure-headings.md
  art/dart.js
  art/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

banner h1 tag and color
  _assets/css/index.scss
  package-lock.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

design and develop pages, urls and side nav
  _data/sidenav.yaml
  _pages/develop/2018-05-17-create-applicability-conformance.md
  _pages/develop/2018-05-17-create-software-websites.md
  _pages/develop/2018-05-17-develop.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/develop/2018-05-28-create-universal-design.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Removes margin left on list for cards
  _assets/css/index.scss
Owners: @drewnielson

fix page layout when no side nav
  _includes/banner.html
  _layouts/page.html
Owners: @drewnielson, @michaelhortongsa

added videos title
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-andi-page-title.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-color-contrast-analyzer.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-color-contrast.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-css-content-positioning.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-frames.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-heading-levels.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-iframes.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-language-parts.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-layout-tables.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-live-regions.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-page-language.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-structure-lists.md
  _pages/videos/2020-10-04-test-web-software-anditraining-videos-data-tables.md
Owners: @alexwilsongsa

deleted tools landing
  _pages/training/2018-05-22-tools.md
Owners: @alexwilsongsa

Navigation fixes, additions, new landing page
  _config.yml
  _data/sidenav.yaml
  _pages/develop/2018-05-17-develop.md
  _pages/events-landing-page.md
  _pages/training/2018-05-08-training-tools-events.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added fixes from 508 sheet
  _assets/css/index.scss
  _pages/acquisition/2018-05-29-buy-request-accessibility-information.md
  _pages/acquisition/2018-05-29-buy.md
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/training/2018-05-08-training.md
  _pages/training/2018-05-22-training-presentations-workshops.md
  _posts/2017-12-12-blog-section-508-refresh.md
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding redirects
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-focus-element.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-images.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-links-buttons.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-overview.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-andi-page-title.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-color-contrast-analyzer.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-color-contrast.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-css-content-positioning.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-frames.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-heading-levels.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-iframes.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-language-parts.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-layout-tables.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-live-regions.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-page-language.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-structure-headings.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-structure-lists.md
  _pages/videos/2020-10-04-test-web-software-anditraining-videos-data-tables.md
  _pages/videos/2020-10-05-test-web-software-andi-training-videos.md
Owners: @alexwilsongsa

updating sidenav with new url's
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

updaing andi video section
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-overview.md
Owners: @alexwilsongsa

fixing s3 links
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

content refresh
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/content-pages/2018-05-22-training-presentations-workshops.md
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/test/2018-05-22-test-web-software.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-22-training-presentations-workshops.md
Owners: @alexwilsongsa

content refresh
  _pages/create/creating-accessible-media.md
  _pages/create/creating-powerpoint-templates.md
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

center aligning images
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/create/2020-01-07-create-presentations-training-videos.md
  _pages/create/2020-01-22-create-documents-training-videos.md
  _pages/create/2020-01-22-create-pdfs-training-videos.md
  _pages/create/create-synchronized-media.md
  _pages/develop/2018-05-28-create-universal-design.md
  _pages/test/2018-05-22-test-web-software.md
  _pages/training/2018-05-08-training.md
  _pages/videos/2020-10-05-test-web-software-andi-training-videos.md
Owners: @alexwilsongsa

adding rounded corners
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/create/2020-01-07-create-presentations-training-videos.md
  _pages/create/2020-01-22-create-documents-training-videos.md
  _pages/create/2020-01-22-create-pdfs-training-videos.md
  _pages/create/2020-01-22-create-spreadsheets-training-videos.md
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

fixing footer
  _assets/images/logos/usaccess.png
  _includes/footer.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding playbooks
  _pages/content-pages/2018-05-15-tools-playbooks.md
  _pages/content-pages/2018-05-22-tools.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play01.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play02.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play03.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play04.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play05.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play06.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play07.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play08.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play09.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play10.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play11.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play12.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro.md
Owners: @alexwilsongsa

fixing links in playbooks
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play01.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play02.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play03.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play04.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play06.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play08.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play09.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play12.md
Owners: @alexwilsongsa

fixing links
  _pages/manage/2018-05-29-manage-program-roadmap.md
Owners: @alexwilsongsa

fixing links
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
Owners: @alexwilsongsa

fixing course links
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
Owners: @alexwilsongsa

fixing video
  _pages/videos/2020-01-22-create-spreadsheets-aed-cop-xlsx10.md
Owners: @alexwilsongsa

added changes to the file
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

added listing page
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

fixing plus sign
  _assets/css/index.scss
Owners: @drewnielson

fixing dart email
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding line break
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing footer
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

added changes
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
Owners: @alexwilsongsa

fixing image
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa
