Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc

Fix table column transposition for web/auto for docs and web
  assets/2025-entity-data.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Fix table column transposition for web/auto for docs and web (#1261)
  assets/2025-entity-data.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

updated broken link
  _pages/manage/2025-09-09-govern-asset-managment-and-grc-tools.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-09-09-govern-asset-managment-and-grc-tools.md
  _pages/manage/2025-09-09-govern-asset-managment-and-grc-tools.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated date
  _pages/manage/2025-09-09-govern-asset-managment-and-grc-tools.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated broken link (#1263)
  _pages/manage/2025-09-09-govern-asset-managment-and-grc-tools.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add USAB event card
  _events/2026-03-11-mar-usab-webinar.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add USAB event card (#1265)
  _events/2026-03-11-mar-usab-webinar.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add transcript to ppt template video
  _pages/videos/2018-05-15-create-pptx-templates.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

minor edit to speaker announcements
  _pages/videos/2018-05-15-create-pptx-templates.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

adjust/edit frontmatter
  _pages/videos/2018-05-15-create-pptx-templates.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

add missing date change in body
  _pages/videos/2018-05-15-create-pptx-templates.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

PPX Template Transcript (#1266)
  _pages/videos/2018-05-15-create-pptx-templates.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

sync with cloud
  _events/2026-02-09-feb-itacm.md
  _includes/event-registration.html
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated descriptions and removed page-level date references.
  _events/2018-05-10-events-landing-page.md
  _events/2020-09-21-assessment.md
  _events/2020-09-22-reporting-accessibility-with-VPAT-2.md
  _events/2026-02-09-feb-itacm.md
  _pages/develop/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/manage/2018-05-29-laws-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-laws-policies-update-agency-policies.md
  _pages/test/2025-08-18-ict-hardware-overview.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated desc and dates for past misc pages and posts
  _pages/manage/annual-assessment/2025-report/2025-appendix-a.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

remove before you go call outs.
  _pages/create/2019-12-12-create-electronic-signatures.md
  _pages/create/2020-01-22-create-docx-video-series.md
  _pages/create/2020-01-22-create-pdfs-training-videos.md
  _pages/create/2020-01-22-create-xlsx-video-series.md
  _pages/create/2022-02-16-create-video-sync-media.md
  _pages/misc-pages/2025-07-01-whats-new.md
  _pages/videos/2020-01-22-create-docx07.md
  _pages/videos/2020-01-22-create-docx08.md
  _pages/videos/2020-01-22-create-docx09.md
  _pages/videos/2020-01-22-create-docx10.md
  _pages/videos/2020-01-22-create-docx11.md
  _pages/videos/2020-01-22-create-docx12.md
  _pages/videos/2020-01-22-create-docx13.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Bump @angular dependencies to ^20.3.18; combiness #1268 and #1269 while aligning other dependencies
  package-lock.json
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Bump @angular dependencies to ^20.3.18; combiness #1268 and #1269 while aligning other dependencies (#1270)
  package-lock.json
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

add asterisck back to disclaimer
  _includes/date-disclaimer.html
Owners: @drewnielson, @michaelhortongsa

mod acr library for clarity
  _pages/misc-pages/2025-04-28-acr-library.md
  assets/images/icons/jump-link.svg
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

add required field text, break error message more
  _pages/training/form-elements-demo-c.md
  _pages/training/form-elements-demo-nc.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Normalize filters
  _includes/library-cards.html
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add descriptions to library cards
  _config.yml
  _data/content-library-documents.yml
  _includes/library-cards.html
  _pages/content-pages/content-library.html
  _pages/manage/annual-assessment/2023-report/2023-appx-d-entity-summary-report.html
  _pages/manage/annual-assessment/2024-report/2024-appx-c-entity-summary-report.html
  _pages/test/2024-09-20-test-contrast-non-web.md
  assets/css/index.scss
  assets/js/content-library.js
  scripts/generate-content-library-yml.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update so pages only have 1 resource-type
  _events/2018-05-10-events-landing-page.md
  _events/2020-09-19-best-practices-webinars.md
  _pages/manage/2025-07-24-manage-exceptions-process.md
  _pages/misc-pages/2025-04-28-acr-library.md
  _pages/test/2025-07-25-test-pilot-prototype.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add content library front matter taxonomy
  _data/content-library-taxonomy.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Fix vulnerability in incomplete string escaping; add library validation script
  _data/content-library-taxonomy.yml
  _pages/create/2024-05-23-create-alt-text.md
  _pages/manage/2025-07-21-Section-508-tester-pd.md
  _pages/training/2020-08-27-iaaf-archives.md
  _pages/videos/2025-08-07-create-color-usage-cca.md
  _pages/videos/2025-08-07-create-color-usage-webaim.md
  package-lock.json
  package.json
  scripts/generate-content-library-yml.js
  scripts/validate-content-library.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Refactor content library card and filter generation for new taxonomy mgmt
  _includes/library-cards.html
  _includes/library-filters.html
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add Topic filter sub-categories and color scheme
  _includes/library-cards.html
  _includes/library-filters.html
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  assets/css/index.scss
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add tags for assets-files in main section508.gov repo
  _data/content-library-documents.yml
  _data/content-library-taxonomy.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add files from assets.section508.gov to content-library-documents file
  _data/content-library-documents.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add content-library-documents to library cards and filters
  _includes/library-cards.html
  _includes/library-filters.html
Owners: @drewnielson, @michaelhortongsa

Adjust filter chip and library card color scheme
  _includes/library-filters.html
  assets/css/index.scss
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add 'Linked from' accordion to document library carrds
  _includes/library-cards.html
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

add site.baseurl for filter pill close icon
  assets/js/content-library.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Apply disabled filter style form topic filters to other filters
  assets/css/index.scss
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add live text search; improve keyboard handling for filters
  _includes/library-cards.html
  assets/css/index.scss
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Refactor library card and filter logic to exclude unlinked documents at build
  _includes/library-cards.html
  _includes/library-filters.html
  _includes/library-linked-document-permalinks.html
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add comments and explanatory notes in content-library.js
  assets/js/content-library.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Adjust filter chip styles for focus, hover, and selected states
  assets/css/index.scss
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc
