Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc

update hero and blog
  _includes/hero.html
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update play 10 title
  _pages/manage/playbooks/2018-05-15-manage-play-10.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update blog
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fix re-used heading
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fix typo
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fix re-used heading (#1190)
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update hero bg
  assets/css/index.scss
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

bugfix
  assets/images/thumbnails/thumb-manage-program-col3.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

bugfix (#1191)
  assets/images/thumbnails/thumb-manage-program-col3.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

create accordion management js file.
  _pages/manage/playbooks/2018-05-15-manage-play-01.md
  _pages/manage/playbooks/2018-05-15-manage-play-02.md
  _pages/manage/playbooks/2018-05-15-manage-play-03.md
  _pages/manage/playbooks/2018-05-15-manage-play-04.md
  _pages/manage/playbooks/2018-05-15-manage-play-05.md
  _pages/manage/playbooks/2018-05-15-manage-play-06.md
  _pages/manage/playbooks/2018-05-15-manage-play-07.md
  _pages/manage/playbooks/2018-05-15-manage-play-08.md
  _pages/manage/playbooks/2018-05-15-manage-play-09.md
  _pages/manage/playbooks/2018-05-15-manage-play-10.md
  _pages/manage/playbooks/2018-05-15-manage-play-11.md
  _pages/manage/playbooks/2018-05-15-manage-play-12.md
  assets/css/index.scss
  assets/images/hero-playbook-1a.jpg
  assets/images/hero-playbook-2a.jpg
  assets/images/hero-playbook-2b.jpg
  assets/images/hero-playbook.jpg
  assets/js/accordion-manage-playbook.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

created oct itacm event card
  _events/2025-10-14-oct-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

permalink bugfix
  _pages/manage/2025-07-21-Section-508-tester-pd.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

play 3 bugfix
  _pages/manage/playbooks/2018-05-15-manage-play-03.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

play 1 document on hold
  _pages/manage/playbooks/2018-05-15-manage-play-01.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add page for Conducting user research with pwd
  _data/sidenav.yaml
  _pages/develop/2018-05-16-develop-landing.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update 2025-09-24-usability-testing-with-people-with-disabilities.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-09-24-usability-testing-with-people-with-disabilities.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

renamed file name
  _events/2025-09-24-oct-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Oct itacm (#1193)
  _events/2025-09-24-oct-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Recruitment questionnaire publish add to side nav and landing page
  _data/sidenav.yaml
  _pages/develop/2018-05-16-develop-landing.md
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

typo fix usability testing w pwd
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated page descriptions and associated front matter based on publishing report.
  _data/sidenav.yaml
  _pages/acquisition/2018-05-29-sell-acr.md
  _pages/acquisition/2018-05-29-sell.md
  _pages/acquisition/2019-05-09-buy-requiring-business-partners-provide-accessible-documents.md
  _pages/create/2024-05-29-create-social-media.md
  _pages/develop/2023-09-15-develop-incorporate-conformance.md
  _pages/develop/2023-09-23-develop-font-typography.md
  _pages/manage/2023-08-14-mangage-agency-508-reporting requirements.md
  _pages/manage/playbooks/2018-05-15-manage-playbooks.md
  _pages/manage/policy-framework/2023-02-10-guidance-by-policy-type-approach.md
  _pages/tools/2020-08-04-tools-art-statements.md
  _pages/training/2024-10-13-training-landing-508-what-is-it.md
  _pages/training/2024-10-13-training-landing-exec-overview.md
  _pages/training/2024-10-13-training-landing-micro-purchases.md
  _pages/training/2024-10-13-training-landing-ms-word-best-practices.md
  _pages/training/2024-10-13-training-landing-procuring-508-products.md
  _pages/training/2024-10-13-training-landing-solicting-acrs.md
  _pages/videos/2024-07-30-training-art-intro-series.md
  _pages/videos/2024-07-31-training-art-intro-01.md
  _pages/videos/2024-07-31-training-art-intro-02.md
  _pages/videos/2024-07-31-training-art-intro-03.md
  _pages/videos/2024-07-31-training-art-intro-04.md
  _pages/videos/2024-07-31-training-art-intro-05.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Recruitment Questionnaire etc
  _pages/develop/2018-05-16-develop-landing.md
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Conducting testing formatting fix
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated meta head if logic to fix social image share and page-level descriptions not loading properly.
  _includes/meta.html
  _pages/create/2024-05-29-create-cc-transcripts.md
  _pages/training/2022-08-17-iaaf-agenda.md
  _pages/training/2022-08-17-iaaf-biographies.md
  _pages/training/2023-09-23-iaaf-agenda.md
  _pages/training/2023-09-23-iaaf-biographies.md
  _pages/training/2024-09-12-iaaf-agenda.md
  _pages/training/2024-09-12-iaaf-biographies.md
  _pages/training/2025-05-05-iaaf-agenda.md
  _pages/training/2025-05-05-iaaf-biographies.md
  _posts/2024-05-14-byte-000.md
  _posts/2024-05-16-byte-001.md
  _posts/2024-06-13-byte-002.md
  _posts/2024-07-11-byte-003.md
  _posts/2024-08-14-byte-004.md
  _posts/2024-09-05-byte-005.md
  _posts/2024-10-16-byte-006.md
  _posts/2024-11-14-byte-007-lists.md
  _posts/2024-12-19-a-byte-008.md
  _posts/2025-05-13-byte-009.md
  _posts/2025-06-18-byte-010.md
  _posts/2025-07-10-byte-011.md
  _posts/2025-08-13-byte-012.md
  _posts/2025-09-17-byte-013.md
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

TEST meta head logic for preview
  _includes/meta.html
Owners: @drewnielson, @michaelhortongsa

TEST meta head logic for preview
  _includes/meta.html
Owners: @drewnielson, @michaelhortongsa

Back out test.
  _includes/meta.html
Owners: @drewnielson, @michaelhortongsa

Final bug fixes
  _includes/hero.html
  _pages/manage/2025-09-18-manage-policy-template.md
  _pages/manage/playbooks/2018-05-15-manage-play-00.md
  _pages/manage/playbooks/2018-05-15-manage-play-01.md
  _pages/manage/playbooks/2018-05-15-manage-play-02.md
  _pages/manage/playbooks/2018-05-15-manage-play-03.md
  _pages/manage/playbooks/2018-05-15-manage-play-04.md
  _pages/manage/playbooks/2018-05-15-manage-play-05.md
  _pages/manage/playbooks/2018-05-15-manage-play-06.md
  _pages/manage/playbooks/2018-05-15-manage-play-07.md
  _pages/manage/playbooks/2018-05-15-manage-play-08.md
  _pages/manage/playbooks/2018-05-15-manage-play-09.md
  _pages/manage/playbooks/2018-05-15-manage-play-10.md
  _pages/manage/playbooks/2018-05-15-manage-play-11.md
  _pages/manage/playbooks/2018-05-15-manage-play-12.md
  _pages/manage/playbooks/2018-05-15-manage-playbooks.md
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Final bug fixes
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Final bug fixes
  _posts/2025-09-23-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Final bug fixes
  _posts/2025-09-24-playbook-announce.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

yaml nav update recruitment and conducting research
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update sidenav.yaml
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

typo fixes conducting testing and recruitment questionnaire
  _pages/develop/2025-09-24-recruitment-questionnaire-process.md
  _pages/develop/2025-09-24-usability-testing-with-people-with-disabilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update manage landing page icons for program and playbooks
  assets/images/thumbnails/thumb-manage-playbook-col3.png
  assets/images/thumbnails/thumb-manage-program-col3.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update manage landing page icons for program and playbooks, large images
  assets/images/thumbnails/thumb-manage-playbook-col2.png
  assets/images/thumbnails/thumb-manage-program-col2.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Fixed 508 pm description broken link
  _pages/manage/playbooks/2018-05-15-manage-play-01.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Fixed missing class on external link
  _pages/manage/2025-08-11-manage-team-roles-responsibilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Landing img update (#1195)
  assets/images/thumbnails/thumb-manage-playbook-col2.png
  assets/images/thumbnails/thumb-manage-playbook-col3.png
  assets/images/thumbnails/thumb-manage-program-col2.png
  assets/images/thumbnails/thumb-manage-program-col3.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc
