Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

Update _config.yml
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

updates green across site, changes logo
  _assets/css/index.scss
  _assets/images/508-logo-cropped-web-altgreen.png
  _assets/images/508-logo-cropped-web.png
  _includes/logo.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

footer aria-label updates, text on acquisition page
  _includes/footer.html
  _pages/acquisition/2018-05-02-buy-sell.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

updated the cfo link
  _pages/manage/2018-05-25-manage-reporting.md
Owners: @alexwilsongsa

Update .gitignore
  .gitignore
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added banner to ANDI training video
  _includes/sidenav.html
  _includes/video_banner.html
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-focus-element.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-images.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-links-buttons.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-overview.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-andi-page-title.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-color-contrast-analyzer.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-color-contrast.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-css-content-positioning.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-frames.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-heading-levels.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-iframes.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-language-parts.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-layout-tables.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-live-regions.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-page-language.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-structure-headings.md
  _pages/videos/2020-10-04-test-web-software-andi-training-videos-structure-lists.md
  _pages/videos/2020-10-04-test-web-software-anditraining-videos-data-tables.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

changing thumbnails
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/create/2020-01-07-create-presentations-training-videos.md
  _pages/create/2020-01-22-create-documents-training-videos.md
  _pages/create/2020-01-22-create-pdfs-training-videos.md
  _pages/create/2020-01-22-create-spreadsheets-training-videos.md
  _pages/create/2020-10-30-create-universal-design-video-series.md
  _pages/create/create-synchronized-media.md
  _pages/training/2018-05-08-training.md
  _pages/videos/2020-10-05-test-web-software-andi-training-videos.md
Owners: @alexwilsongsa

andi thumb fix
  _pages/videos/2020-10-05-test-web-software-andi-training-videos.md
Owners: @alexwilsongsa

404 page
  404.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

404 page
  404.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding 404 page
  404.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added fix for UAT
  _events/2021-06-16-section-508-program-maturity-report.md
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/training/2018-05-08-training.md
  art/dart.js
  art/index.html
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

removed duplicated code
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

adding baseurl variable
  404.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed all bad links
  _events/2021-06-16-section-508-program-maturity-report.md
  _pages/acquisition/2018-05-29-buy-determine-ict-exceptions.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/manage/2018-05-29-manage-laws-and-policies-international.md
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-laws-and-policies-update-agency-policies.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/manage/2018-05-29-manage-track-report-conformance.md
  _pages/training/2018-05-08-training.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play02.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play08.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play09.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play11.md
  _posts/2017-11-10-blog-accessibility-news-the-section-508-Update.md
  _posts/2017-12-12-blog-do-section-508-accessibility-standards-apply-to-mywebsite.md
  _posts/2017-12-20-blog-universal-design-whats-in-it-for-me.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

fixed broken links
  _pages/create/2018-05-21-create-developer-training.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/manage/2018-05-28-manage-understand-scope-technical-requirements.md
  _pages/manage/2018-05-29-manage-laws-and-policies-international.md
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/training/2018-05-08-training.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play09.md
  _posts/2017-05-09-blog-e-recruiting-and-accessibility.md
  _posts/2017-11-10-blog-accessibility-news-the-section-508-Update.md
  _posts/2017-12-12-blog-section-508-refresh.md
  _posts/2018-02-01-blog-Revised-508-Standards-Safe-Harbor-and-FAR-Update.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  _posts/2018-04-23-blog-ACoP-on-the-Road-CSUN-Assistive-Technology-Conference.md
Owners: @alexwilsongsa

corrected the link EN 301 549
  _pages/manage/2018-05-29-manage-laws-and-policies-international.md
Owners: @alexwilsongsa

adding changes
  _posts/2018-04-20-blog-how-read-vpat-.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

updated the link
  _pages/manage/2018-05-29-manage-laws-and-policies-international.md
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

added fixes
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play09.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

adds meta tags for gsa favicons
  _includes/meta_art.html
Owners: @drewnielson, @michaelhortongsa

bad link
  _posts/2018-04-20-blog-how-read-vpat-.md
Owners: @alexwilsongsa

Revert "adds meta tags for gsa favicons"
  _includes/meta_art.html
Owners: @drewnielson, @michaelhortongsa

fixing DHS reference
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing merge conflicts
  _pages/manage/2018-05-29-manage-laws-and-policies-international.md
Owners: @alexwilsongsa

Update 2018-08-15-tools-playbooks-exec-guide-accessibility.md
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
Owners: @alexwilsongsa

fixed broken links
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
  _pages/manage/2018-05-28-manage-teach-staff-about-accessibility.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2018-04-20-blog-how-read-vpat-.md
Owners: @alexwilsongsa

Fixing the merge issues with master
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play09.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

made changes to IAAF
  _pages/content-pages/2020-08-27-iaaf-archives.md
Owners: @alexwilsongsa

updated the broken link
  _pages/manage/2018-05-29-manage-laws-and-policies-international.md
  _pages/manage/2018-05-29-manage-laws-and-policies.md
Owners: @alexwilsongsa

Reverting from 2021 to 2020 in 2020-08-27-iaaf-archives.md
  _pages/content-pages/2020-08-27-iaaf-archives.md
Owners: @alexwilsongsa

content changes
  _events/2021-06-12-iaaf.md
  _events/2021-06-21-m-enabling-summit.md
Owners: @alexwilsongsa

removed art webinar
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding universal series
  _data/sidenav.yaml
  _pages/create/2020-10-30-create-universal-design-video-series.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Fixing content in art
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

hiding aurthorization number
  art/modal.css
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding universal series
  _pages/develop/2018-05-28-create-universal-design.md
Owners: @alexwilsongsa

fixing thumbnails
  _pages/test/2018-05-22-test-web-software.md
Owners: @alexwilsongsa

fixing dart html
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

hiding number field
  art/modal.css
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa
