Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Fix bug
  _events/2021-11-09-usab-webinar.md
Owners: @alexwilsongsa

Add USAB November Event (#186)
  _events/2021-11-09-usab-webinar.md
Owners: @alexwilsongsa

FAR Update Blog for review
  _posts/2021-11-02-blog-2021-FAR-update.md
Owners: @alexwilsongsa

Updated FAR Blog Permalink
  _posts/2021-11-02-blog-2021-FAR-update.md
Owners: @alexwilsongsa

Update 2021-11-02-blog-2021-FAR-update.md
  _posts/2021-11-02-blog-2021-FAR-update.md
Owners: @alexwilsongsa

Update 2021-11-02-blog-Accessible-Meetings.md
  _posts/2021-11-02-blog-Accessible-Meetings.md
Owners: @alexwilsongsa

permalink and update date
  _posts/2021-11-02-blog-2021-FAR-update.md
  _posts/2021-11-02-blog-Accessible-Meetings.md
Owners: @alexwilsongsa

FAR And Accessible Mtg Blog Creation (#185)
  _posts/2021-11-02-blog-2021-FAR-update.md
  _posts/2021-11-02-blog-Accessible-Meetings.md
Owners: @alexwilsongsa

create content-creation tag page
  tags/content-creation.md
Owners: @alexwilsongsa

Updated links to fix circleci errors for this page only
  _pages/create/create-accessible-meetings.md
Owners: @alexwilsongsa

Updated links to fix circleci errors for this page only (#188)
  _pages/create/create-accessible-meetings.md
Owners: @alexwilsongsa

link fixes
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/content-pages/2020-08-03-art-glossary.md
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

Remove bio of Brooks as they were unable to attend.
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

Fix title for Module 10
  _pages/videos/2020-01-22-create-spreadsheets-aed-cop-xlsx10.md
Owners: @alexwilsongsa

Update 2020-01-22-create-spreadsheets-aed-cop-xlsx10.md
  _pages/videos/2020-01-22-create-spreadsheets-aed-cop-xlsx10.md
Owners: @alexwilsongsa

Relocate Borowicz under B
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

Remove bio of Brooks as they were unable to attend. (#190)
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

Initial draft of Dec ITACM
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

add start date-time
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

Revert to just end date
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

initial fixes
  _pages/content-pages/2020-08-03-art-glossary.md
Owners: @alexwilsongsa

Escape ':' in description to resolve yaml error
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

Replace ':' with &#58;
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

Fix title for Module 10 (#191)
  _pages/videos/2020-01-22-create-spreadsheets-aed-cop-xlsx10.md
Owners: @alexwilsongsa

Updated note section
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

Again
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

emove return image
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

Add dec itacm event (#192)
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

Update HERO to promote How to Create an Accessible Meeting
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Move heading to button, with new heading
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Shorten button call to action, move learn to second sentence.
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Change button to Create Accessible Meetings
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

incremental fixes
  _pages/content-pages/2020-08-03-art-glossary.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-15-create-video-social.md
  _pages/create/2018-05-21-create-developer-training.md
  _pages/create/create-accessible-meetings.md
  _pages/create/presentation-authoring-guide.md
  _pages/develop/2018-05-21-create-web-content.md
  _posts/2017-01-10-blog-new-section-508-rule.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
Owners: @alexwilsongsa

Fix mailto href in Section508 mailbox link
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

Update HERO promotion (#193)
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Fix mailto href in Section508 mailbox link (#194)
  _events/2021-11-17-dec-itacm.md
Owners: @alexwilsongsa

more dead links and other cleanup
  _events/2021-06-12-iaaf.md
  _includes/footer.html
  _includes/hero.html
  _includes/highlights.html
  _includes/logo.html
  _pages/2020-08-04-ict-accessibility.md
  _pages/acquisition/2018-05-29-sell.md
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
  _pages/content-pages/2019-01-29-tools-playbooks-accessibility-playbook-quick-guide.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/manage/2018-05-28-manage-program-management.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/training/2018-05-08-training.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play10.md
  assets/uswds.min.js.map
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

remove redundant alt text in homepage Quick Links
  _includes/tagline.html
Owners: @drewnielson, @michaelhortongsa

Updated About Us - a) Updated About this Site to new nav structure, b) added About the Team
  _pages/content-pages/2018-05-08-content-about-us.md
Owners: @alexwilsongsa

Remove netlify-cms page and package.json refs
  Gemfile.lock
  admin/config.yml
  admin/index.html
  package-lock.json
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa
