Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Fix dead links (#195)
  _events/2021-06-12-iaaf.md
  _includes/footer.html
  _includes/hero.html
  _includes/highlights.html
  _includes/logo.html
  _includes/tagline.html
  _pages/2020-08-04-ict-accessibility.md
  _pages/acquisition/2018-05-29-sell.md
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
  _pages/content-pages/2019-01-29-tools-playbooks-accessibility-playbook-quick-guide.md
  _pages/content-pages/2020-08-03-art-glossary.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-15-create-video-social.md
  _pages/create/2018-05-21-create-developer-training.md
  _pages/create/create-accessible-meetings.md
  _pages/create/presentation-authoring-guide.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/manage/2018-05-28-manage-program-management.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/training/2018-05-08-training.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play10.md
  _posts/2017-01-10-blog-new-section-508-rule.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  assets/uswds.min.js.map
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

remove reference to redirect and add root
  _includes/hero.html
  _pages/content-pages/2018-05-08-content-about-us.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Updated About Us - a) Updated About this Site to new nav structure, b… (#197)
  _includes/hero.html
  _pages/content-pages/2018-05-08-content-about-us.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

November PM list update
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

Formatting fixes
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

Update 2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

Update 2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

PM list update 17 nov21 (#200)
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

add dividers before H2
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

Added Aug and Dec files.
  _pages/training/2018-05-22-training-presentations-workshops.md
Owners: @alexwilsongsa

Add an i to Accessibilty in Title
  _pages/training/2018-05-08-training-tools-events.md
Owners: @alexwilsongsa

Add an i to Accessibilty in Title (#203)
  _pages/training/2018-05-08-training-tools-events.md
Owners: @alexwilsongsa

Added Aug and Dec files. (#202)
  _pages/training/2018-05-22-training-presentations-workshops.md
Owners: @alexwilsongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa
