Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

508 fix
  _assets/css/index.scss
  _includes/sidenav.html
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-22-create.md
  _pages/test/2018-05-22-test.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

fix
  _includes/footer.html
  _includes/menu.html
  _includes/sidenav.html
Owners: @drewnielson, @michaelhortongsa

508
  _pages/2020-08-04-ict-accessibility.md
Owners: @alexwilsongsa

added all fixes
  _config.yml
  _data/sidenav.yaml
  _includes/highlights.html
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2020-01-22-create-spreadsheets-training-videos.md
  _pages/develop/2018-05-28-create-universal-design.md
  _pages/manage/2018-05-25-manage-reporting.md
  _pages/manage/2018-05-28-manage-teach-staff-about-accessibility.md
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-laws-and-policies-update-agency-policies.md
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-monitor.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-content-management-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-data-services-or-information-retrieval-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-training.md
  _pages/test/2018-05-22-test-testing-overview.md
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/training/2018-05-08-training.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Update highlights.html
  _includes/highlights.html
Owners: @drewnielson, @michaelhortongsa

Pushing newly added fixes
  _config.yml
  _includes/highlights.html
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/create/2018-05-15-create-presentations.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

b
  _pages/sample-procurement/2020-11-20-sample-procurement-servers.md
Owners: @alexwilsongsa

update
  _includes/footer.html
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

remove white space
  _includes/sidenav.html
Owners: @drewnielson, @michaelhortongsa

added issues from 300 in spread sheet
  _data/sidenav.yaml
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2018-05-29-buy.md
  _pages/acquisition/2018-05-29-sell-vpat.md
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/content-pages/2018-05-22-tools.md
  _pages/content-pages/2018-05-30-content-page-not-found-404-error.md
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
  _pages/content-pages/2019-01-29-tools-playbooks-accessibility-playbook-quick-guide.md
  _pages/content-pages/2020-02-27-content-glossary.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/create/2018-05-22-create.md
  _pages/manage/2018-05-28-manage-program-management.md
  _pages/manage/2018-05-28-manage-roles.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-22-tools.md
  _pages/training/2020-02-27-content-glossary.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

area-lable update
  _pages/create/2018-05-10-create-documents.md
Owners: @alexwilsongsa

table scope
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
Owners: @alexwilsongsa

table fix
  _pages/manage/2018-05-28-manage-roles.md
Owners: @alexwilsongsa

link fix
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

link fix
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

fix
  _pages/manage/2018-05-28-manage-roles.md
Owners: @alexwilsongsa

side nav 508
  _includes/sidenav.html
Owners: @drewnielson, @michaelhortongsa

added changes
  _config.yml
  _data/sidenav.yaml
  _includes/footer.html
  _includes/hero.html
  _includes/highlights.html
  _pages/acquisition/2018-05-29-buy.md
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/content-pages/2020-08-27-iaaf-archives.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/content-pages/2020-09-28-iaaf-biographies.md
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-documents.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2018-01-17-blog-Accessibility-Requirements-Tool-is-Live.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Update 2018-05-08-tools-coordinator-listing.md
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

href
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx00.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx01.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx02.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx03.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx04.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx05.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx06.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx07.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx08.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx09.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx10.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx11.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx12.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx13.md
Owners: @alexwilsongsa

video
  _pages/videos/2020-01-22-create-documents-aed-cop-docx02.md
Owners: @alexwilsongsa

typos and fixes are fixed
  _includes/footer.html
  _includes/highlights.html
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/acquisition/2018-05-29-sell.md
  _pages/content-pages/2018-05-22-tools.md
  _pages/content-pages/2018-05-22-training-presentations-workshops.md
  _pages/content-pages/2018-05-30-content-page-not-found-404-error.md
  _pages/content-pages/2019-01-29-tools-playbooks-accessibility-playbook-quick-guide.md
  _pages/content-pages/2019-05-09-content-requiring-business-partners-provide-accessible-documents.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-voip-services.md
  _pages/training/2018-05-22-tools.md
  _pages/training/2018-05-22-training-presentations-workshops.md
  _posts/2017-12-12-blog-section-508-refresh.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

page
  _pages/videos/2020-01-22-create-documents-aed-cop-docx02.md
Owners: @alexwilsongsa

Card design, landing page layout
  _assets/css/index.scss
  _pages/manage/2018-05-22-manage.md
Owners: @drewnielson, @alexwilsongsa

Landing - Buy/Sell
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/manage/2018-05-22-manage.md
Owners: @alexwilsongsa

added all fixes in tools and co ordinatre
  _assets/images/icons/auction.svg
  _pages/acquisition/2018-05-24-buy-define-accessibility-criteria.md
  _pages/acquisition/2018-05-29-sell-vpat.md
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/content-pages/2020-08-27-iaaf-archives.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-monitor.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2018-01-17-blog-Accessibility-Requirements-Tool-is-Live.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

deleted logo
  _assets/images/logos/usaccess.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added the top button
  _assets/css/index.scss
  _assets/js/app.js
  _includes/header.html
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-laws-and-policies-update-agency-policies.md
  _pages/training/2018-05-08-training.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Remaining landing page design
  _pages/create/2018-05-22-create.md
  _pages/test/2018-05-22-test.md
Owners: @alexwilsongsa

Removes image, adds aside
  _pages/develop/2018-05-28-create-universal-design.md
Owners: @alexwilsongsa

Markdown update for topmost p tag on landing pages
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/create/2018-05-22-create.md
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

removes margin bottom from aside
  _pages/develop/2018-05-28-create-universal-design.md
Owners: @alexwilsongsa

removes text gray in top level paragraph
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/manage/2018-05-22-manage.md
  _pages/test/2018-05-22-test.md
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

fix link issues
  _pages/create/2018-05-22-create.md
Owners: @alexwilsongsa

landing page updates
  _assets/css/index.scss
  _includes/banner.html
  _layouts/page.html
Owners: @drewnielson, @michaelhortongsa

Verified changes and fixed from 508 sheet
  _assets/images/logos/omb-logo.png
  _assets/images/logos/usaccess.png
  _includes/footer.html
  _pages/acquisition/2018-05-29-buy-determine-ict-standards.md
  _pages/acquisition/2018-05-29-buy-inventory-your-ict.md
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/create/2018-05-22-create.md
  _pages/create/2020-10-30-create-universal-design-video-series.md
  _pages/manage/2018-05-28-manage-roles.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-software.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-development-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-information-documentation-and-support.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-training.md
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  blog/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Adds site.baseurl variable for links
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/manage/2018-05-22-manage.md
  _pages/test/2018-05-22-test.md
Owners: @alexwilsongsa

3477
  _assets/css/index.scss
  _includes/banner.html
  _layouts/page.html
Owners: @drewnielson, @michaelhortongsa

border color change, reverts text change and aside tag
  _assets/css/index.scss
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/create/2018-05-22-create.md
  _pages/develop/2018-05-28-create-universal-design.md
  _pages/manage/2018-05-22-manage.md
  _pages/test/2018-05-22-test.md
  _pages/training/2018-05-08-training.md
Owners: @drewnielson, @alexwilsongsa

added fixes for 508
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/content-pages/2018-05-29-node-96.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/test/2018-05-22-test-web-software.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
  blog/index.html
Owners: @alexwilsongsa
