Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

updating jquery fix
  _layouts/base_art.html
Owners: @drewnielson, @michaelhortongsa

uat-defects-fixing-bowen
  _assets/css/index.scss
  _data/sidenav.yaml
  _includes/blog-sidenav.html
  _includes/highlights.html
  _pages/training/2018-05-08-training.md
  blog/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fix
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
Owners: @alexwilsongsa

fixed the defects
  _assets/css/index.scss
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/create/create-synchronized-media.md
  _pages/manage/2018-05-28-manage-roles.md
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/test/2018-05-22-test-web-software.md
  _pages/training/2018-05-08-training-tools-events.md
  _pages/training/2018-05-08-training.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-06-29-blog-section-508-transition-activities-update.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
Owners: @drewnielson, @alexwilsongsa

fixed the defects
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed a couple of issues
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
  _pages/manage/2018-05-28-manage-roles.md
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/test/2018-05-22-test-web-software.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-05-09-blog-e-recruiting-and-accessibility.md
  _posts/2017-06-29-blog-section-508-transition-activities-update.md
  _posts/2017-12-12-blog-do-section-508-accessibility-standards-apply-to-mywebsite.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
Owners: @alexwilsongsa

fixed the post uat issues
  _assets/css/index.scss
  _pages/content-pages/2020-08-03-art-glossary.md
Owners: @drewnielson, @alexwilsongsa

fixed the post uat issues
  _pages/content-pages/2020-08-03-art-glossary.md
Owners: @alexwilsongsa

contrast fixes for homepage
  _assets/css/index.scss
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

link reference fixes to match sidebar links
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/create/2018-05-22-create.md
  _pages/develop/2018-05-17-develop.md
  _pages/manage/2018-05-22-manage.md
  _pages/test/2018-05-22-test.md
  _pages/training/2018-05-08-training-tools-events.md
  _pages/training/2018-05-22-tools.md
Owners: @alexwilsongsa

adds javascript:void to follow what's in USWDS
  _includes/sidenav.html
Owners: @drewnielson, @michaelhortongsa

worked on comments on DART and DHS
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added few corrections for DART, replacing with ART
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Update 2020-01-07-create-presentations-aed-cop-pptx02.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx02.md
Owners: @alexwilsongsa

Update 2020-01-07-create-presentations-aed-cop-pptx07.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx07.md
Owners: @alexwilsongsa

added links on contact us
  _pages/contact-us.md
Owners: @alexwilsongsa

Update 2020-01-07-create-presentations-aed-cop-pptx05.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx05.md
Owners: @alexwilsongsa

Update 2020-01-07-create-presentations-aed-cop-pptx06.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx06.md
Owners: @alexwilsongsa

Update 2020-01-07-create-presentations-aed-cop-pptx04.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx04.md
Owners: @alexwilsongsa

Update 2020-01-07-create-presentations-aed-cop-pptx03.md
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx03.md
Owners: @alexwilsongsa

favicon, related metadata edits
  _assets/images/android-chrome-192x192.png
  _assets/images/android-chrome-512x512.png
  _assets/images/apple-touch-icon.png
  _assets/images/favicon-16x16.png
  _assets/images/favicon-32x32.png
  _assets/images/favicon.ico
  _assets/images/site.webmanifest
  _includes/meta.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

new logo for top-right, css edits
  _assets/css/index.scss
  _assets/images/508-logo-cropped-web.png
  _includes/logo.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

new homepage icons, utility classes for spacing/size
  _assets/images/icons/book-open.svg
  _assets/images/icons/desktop.svg
  _assets/images/icons/file-contract.svg
  _assets/images/icons/pencil-ruler.svg
  _assets/images/icons/user-edit.svg
  _includes/highlights.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added the new blog page
  _posts/2021-9-9-moving-to-federalist.md
  assets/images/508-federalist.png
  assets/images/blog-art-federalist.png
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

updated the video link
  _events/2021-06-12-iaaf.md
  _pages/create/create-synchronized-media.md
Owners: @alexwilsongsa

updated the video link
  _pages/create/create-synchronized-media.md
Owners: @alexwilsongsa

added new page
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _pages/manage/2020-09-10-tabular-comparison.md
Owners: @alexwilsongsa

fixed link
  _pages/manage/2020-09-10-tabular-comparison.md
Owners: @alexwilsongsa

uat fixes
  _config.yml
  _data/sidenav.yaml
  _events/2021-06-16-section-508-program-maturity-report.md
  _events/2021-06-23-section-508-best-practices-webinars.md
  _events/2021-07-03-it-accessibility-community-meetings.md
  _includes/banner.html
  _includes/footer.html
  _includes/highlights.html
  _includes/logo.html
  _includes/tagline.html
  _layouts/tag_index.html
  _pages/content-pages/2018-05-08-privacy-policy.md
  _pages/content-pages/2018-05-08-website-policies.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/training/2018-05-22-tools.md
  _posts/2018-06-01-blog-section508-facelift.md
  art/dart.js
  blog/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing UAT feedback
  _assets/images/logos/seal-usab.png
  _events/2021-06-16-section-508-program-maturity-report.md
  _events/2021-06-23-section-508-best-practices-webinars.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

events title page updated
  _events/2021-06-23-section-508-best-practices-webinars.md
  _includes/logo.html
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

UAT fixes
  _data/sidenav.yaml
  _includes/highlights.html
  _pages/contact-us.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding redirect
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

event page fix
  _events/2021-06-16-section-508-program-maturity-report.md
  _events/2021-06-23-section-508-best-practices-webinars.md
  _pages/create/2018-05-15-create-video-social.md
Owners: @alexwilsongsa

updated the title
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
Owners: @alexwilsongsa

updated the title
  _data/sidenav.yaml
  _pages/content-pages/2020-08-03-art-glossary.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Update 404.html
  404.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

updated the title
  _assets/css/index.scss
  _pages/content-pages/2020-08-03-art-glossary.md
Owners: @drewnielson, @alexwilsongsa

updated the links
  _pages/test/2018-05-22-test-documents.md
Owners: @alexwilsongsa

added the link
  _pages/manage/2018-05-25-manage-reporting.md
Owners: @alexwilsongsa
