Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

updated css to include session-type class
  _assets/css/index.scss
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @drewnielson, @alexwilsongsa

revert session-type to back out style
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

another update to test fit
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

another tweek
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

Session 1 track B update
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

Day 1 Session 1 Track C
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

All Day 1 Sessions
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

Hide downloads on d1bs2b
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

test fix layout syntax
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

fix azeem
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

bradford
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

again
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

span em
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

krystal fix
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

azeem link
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

fix font-size in day 3 program
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

heumann keynote
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

day two partial update
  _pages/content-pages/2021-09-30-iaaf-agenda.md
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

day 2 bs 1
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

add session-link to css
  _assets/css/index.scss
Owners: @drewnielson

remove br after moderator for o'neal
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

remove breaks
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

d1b2
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

comment out tbd moderators
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

day 1 welcome change
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

day 2 completed
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

fix font-size in day 3 program (#168)
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

day 3
  _pages/content-pages/2021-09-30-iaaf-agenda.md
Owners: @alexwilsongsa

incremenatl update on agenda and bios
  _pages/content-pages/2021-09-30-iaaf-agenda.md
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

gifford
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

G is done
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

H is done
  _pages/content-pages/2021-09-30-iaaf-agenda.md
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

fix judy heumann
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

K is done
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

Update Harding
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

M is done
  _pages/content-pages/2021-09-30-iaaf-agenda.md
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

O is done
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

P is done
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

P is done
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa

Co-authored-by: Andrew Nielson <drewnielson@users.noreply.github.com>
  _pages/content-pages/2021-09-30-iaaf-biographies.md
Owners: @alexwilsongsa
