Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

508fix
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/create/2019-12-12-create-electronic-signatures.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

fixing link
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
Owners: @alexwilsongsa

fixing sidenav
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed link
  _pages/content-pages/2018-05-08-content-about-us.md
Owners: @alexwilsongsa

fixing css
  _assets/css/index.scss
Owners: @drewnielson

added fixes for open issue
  _assets/css/index.scss
  _includes/tagline.html
  _pages/acquisition/2018-05-29-buy.md
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
  art/dart.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Update index.scss
  _assets/css/index.scss
Owners: @drewnielson

corrected VPAT
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2018-05-29-sell.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

fixing video landing pages
  _pages/create/2020-01-22-create-spreadsheets-training-videos.md
Owners: @alexwilsongsa

universal video series fix
  _pages/create/2020-10-30-create-universal-design-video-series.md
Owners: @alexwilsongsa

bullet indentation
  _pages/acquisition/2018-05-29-buy-inventory-your-ict.md
Owners: @alexwilsongsa

fixing base url in playbooks
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro.md
Owners: @alexwilsongsa

fixing site issues
  _includes/footer.html
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _pages/training/2018-05-08-training.md
  _pages/training/2018-05-22-training-presentations-workshops.md
  _pages/training/playbooks/2018-05-15-tools-playbooks-technology-accessibility-playbook-intro-play02.md
  _pages/videos/2020-01-22-create-pdfs-aed-cop-pdf00.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

fixed link and styles
  _data/sidenav.yaml
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/acquisition/2018-05-29-sell.md
  _pages/create/create-synchronized-media.md
  _pages/develop/2018-05-28-create-universal-design.md
  _pages/test/2018-05-22-test-trusted-tester.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing footer link and laws and policies page
  _includes/footer.html
  _pages/manage/2018-05-29-manage-laws-and-policies.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

added changed to ict standards
  _pages/acquisition/2018-05-29-buy-determine-ict-standards.md
Owners: @alexwilsongsa

co ordinator listing page
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @alexwilsongsa

deleted tools co-ordinator and fixed CSS as master
  _assets/css/index.scss
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @alexwilsongsa

fixing links
  _pages/videos/2020-01-22-create-pdfs-aed-cop-pdf00.md
  _pages/videos/2020-01-22-create-pdfs-aed-cop-pdf01.md
Owners: @alexwilsongsa

adds back tools page
  _pages/training/2018-05-22-tools.md
Owners: @alexwilsongsa

Training page links, landing
  _config.yml
  _data/sidenav.yaml
  _pages/create/2018-05-22-create.md
  _pages/training/2018-05-08-training-tools-events.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fix
  _pages/content-pages/2020-02-27-content-glossary.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _pages/training/2020-02-27-content-glossary.md
Owners: @alexwilsongsa

fixing links
  _pages/create/creating-powerpoint-templates.md
Owners: @alexwilsongsa

fixing training page
  _data/sidenav.yaml
  _pages/training/2018-05-08-training.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding develop files
  _data/sidenav.yaml
  _pages/develop/2018-05-17-create-applicability-conformance.md
  _pages/develop/2018-05-17-create-software-websites.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/develop/2018-05-28-create-universal-design.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

added banner to blogs art
  _layouts/base_art.html
  _layouts/post.html
  _layouts/tag_index.html
  _layouts/wide.html
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
  art/index.html
  blog/index.html
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

fix
  _pages/manage/2018-05-29-manage-reporting-guidelines-conformance.md
  _pages/manage/2018-06-26-manage-join-the-508-community.md
Owners: @alexwilsongsa

ART and SRT buttons
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/acquisition/2020-10-21-buy-solicitation-review-tool.md
Owners: @alexwilsongsa

Training, tools, events landing page permalink fixes
  _config.yml
  _pages/training/2018-05-08-training-tools-events.md
  _pages/training/2018-05-08-training.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

needed absolute URLs
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
Owners: @alexwilsongsa

added banner and sidenav to Iaaf and Iaaf archives
  _events/2021-06-12-iaaf.md
  _pages/content-pages/2020-08-27-iaaf-archives.md
Owners: @alexwilsongsa

training/tools landing urls, update yml config
  _data/sidenav.yaml
  _pages/training/2018-05-08-training-tools-events.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fix
  _pages/acquisition/2018-05-29-buy-inventory-your-ict.md
  _pages/manage/2018-05-25-manage-reporting.md
  _pages/test/2018-05-22-test-testing-overview.md
Owners: @alexwilsongsa

added banner to traing video
  _pages/create/2020-01-22-create-documents-training-videos.md
  _pages/create/2020-01-22-create-pdfs-training-videos.md
  _pages/create/2020-01-22-create-spreadsheets-training-videos.md
Owners: @alexwilsongsa

fix
  _pages/content-pages/2018-08-15-tools-playbooks-exec-guide-accessibility.md
Owners: @alexwilsongsa

added banner to events
  _events/2020-09-10-feed-meeting.md
  _events/2020-09-22-reporting-accessibility-with-VPAT-2.md
  _events/2020-09-29-managing-projects-to-ensure-accessibility.md
  _events/2020-10-21-5th-annual-ict-accessibility-testing-symposium.md
  _events/2020-10-21-forest-and-the-trees.md
  _events/2020-11-12-unmasking-accessibility.md
  _events/2021-06-16-section-508-program-maturity-report.md
  _events/2021-06-21-m-enabling-summit.md
  _events/2021-06-23-section-508-best-practices-webinars.md
  _events/2021-06-24-3rd-annual-diital-accessibility.md
  _events/2021-07-03-it-accessibility-community-meetings.md
  _layouts/wide_events.html
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

events menu fix
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

removed sidenav in Mapping of WCAG 2.0 to Functional Performance Criteria
  _layouts/wide_post.html
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

permalink fixes in header
  _config.yml
  _pages/develop/2018-05-17-develop.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

accessible guide highlight fix
  _pages/content-pages/2019-03-05-content-guide-accessible-web-design-development.md
Owners: @alexwilsongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa
