Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

correct other topic fil
  _includes/library-cards.html
Owners: @drewnielson, @michaelhortongsa

fix to td
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

remove null fil
  _includes/library-filters.html
Owners: @drewnielson, @michaelhortongsa

incorporate posts
  _includes/library-cards.html
  _includes/library-filters.html
Owners: @drewnielson, @michaelhortongsa

fixed end tag
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed another end tag
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixes
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed scope
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed link
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add GSA training new page
  _data/sidenav.yaml
  _pages/training/2025-07-16-add-our-training-to-your-lms.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

modified headings
  _pages/training/2025-07-16-add-our-training-to-your-lms.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-07-11-develop-a-training-plan.md
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-07-11-develop-a-training-plan.md
  _pages/manage/2025-07-11-develop-a-training-plan.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add GSA training new page (#1137)
  _data/sidenav.yaml
  _pages/training/2025-07-16-add-our-training-to-your-lms.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

new content (#1135)
  _data/sidenav.yaml
  _pages/manage/2018-05-22-manage.md
  _pages/manage/2025-07-11-develop-a-training-plan.md
  _pages/training/2025-07-16-add-our-training-to-your-lms.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Split TT and baseline pages
  _data/sidenav.yaml
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/test/2018-05-22-test.md
  _pages/test/2025-07-16-ict-testing-baselines.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

updated external links
  _pages/test/2025-07-16-ict-testing-baselines.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed broken link on test card
  _pages/test/2018-05-22-test.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

red x mark attempt
  _pages/test/2025-07-16-ict-testing-baselines.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated red cancel icons
  _pages/test/2025-07-16-ict-testing-baselines.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed external link icons
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/test/2025-07-16-ict-testing-baselines.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

added description to pull to what's new
  _pages/test/2018-05-22-test-trusted-tester.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Split TT and baseline pages (#1138)
  _data/sidenav.yaml
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/test/2018-05-22-test.md
  _pages/test/2025-07-16-ict-testing-baselines.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

New lifecycle overview page
  _data/sidenav.yaml
  _includes/highlights.html
  _pages/test/2018-05-22-test.md
  _pages/test/2025-07-17-testing-lifecycle-overview.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update icon test
  _includes/highlights.html
  _pages/test/2025-07-17-testing-lifecycle-overview.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

heading update
  _pages/test/2025-07-17-testing-lifecycle-overview.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

changed to process list
  _pages/test/2018-05-22-test.md
  _pages/test/2025-07-17-testing-lifecycle-overview.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

updated links
  _includes/highlights.html
  _pages/test/2025-07-17-testing-lifecycle-overview.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

fixed rogue end tags
  _pages/test/2025-07-17-testing-lifecycle-overview.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update nav
  _data/sidenav.yaml
  _includes/highlights.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

angular update
  package-lock.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Revert "angular update"
  package-lock.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Example Personas Page
  _pages/develop/2025-07-16-example-personas.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Example Personas Page
  _pages/develop/2025-07-16-example-personas.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-07-16-example-personas.md
  _pages/develop/2025-07-16-example-personas.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Example Personas Page
  _pages/develop/2025-07-16-example-personas.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-07-16-example-personas.md
  _pages/develop/2025-07-16-example-personas.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update 2025-07-16-example-personas.md
  _pages/develop/2025-07-16-example-personas.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

angular update
  package-lock.json
  src/app/features/art-docx-download/art-docx-download.component.ts
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

angular upgrade to 19
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/features/art-docx-download/art-docx-download.component.ts
  src/app/pages/form-page/form-page.component.ts
  src/app/pages/ict-listing-page/ict-listing-page.component.ts
  src/app/pages/landing-page/landing-page.component.ts
  src/app/pages/summary-page/summary-page.component.ts
  src/app/pages/test/test.component.ts
  src/app/shared/components/art-button/art-button.component.ts
  src/app/shared/components/art-checkbox-group/art-checkbox-group.component.ts
  src/app/shared/components/art-generic-text/art-generic-text.component.ts
  src/app/shared/components/art-ict-item/art-ict-item.component.ts
  src/app/shared/components/art-radiobutton-group/art-radiobutton-group.component.ts
  src/app/shared/components/art-save-json/art-save-json.component.ts
  src/app/shared/components/art-save-zip/art-save-zip.component.ts
  src/app/shared/components/art-side-navigation/art-side-navigation.component.ts
  src/app/shared/components/art-text-field/art-text-field.component.ts
  src/app/shared/components/back-to-top/back-to-top.component.ts
  src/app/shared/components/banner/banner.component.ts
  src/app/shared/components/file-upload/file-upload.component.ts
  src/app/shared/components/section508-banner/section508-banner.component.ts
  src/app/shared/components/section508-footer/section508-footer.component.ts
  src/app/shared/components/section508-header/section508-header.component.ts
  src/app/shared/components/step-indicator/step-indicator.component.ts
  src/app/shared/templates/art-form-template/art-form-template.component.ts
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
