Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

blog landing page
  _config.yml
  _includes/blog-landing-sidenav.html
  _includes/twitter.html
  _layouts/tag_index.html
  blog/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing panel layout and adding files path
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/content-pages/2018-05-15-tools-playbooks.md
  _pages/content-pages/2018-05-22-training-presentations-workshops.md
  _pages/content-pages/2018-05-29-buy.md
  _pages/content-pages/2019-01-29-tools-playbooks-accessibility-playbook-quick-guide.md
  _pages/content-pages/2020-02-27-content-glossary.md
  _pages/content-pages/2020-04-07-buy-accessibility-requirements-tool-webinar.md
  _pages/content-pages/2020-08-27-iaaf.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/content-pages/2020-09-28-iaaf-biographies.md
  _pages/content-pages/2020-10-21-buy-solicitation-review-tool.md
  _pages/create/developer-training/2018-05-08-training.md
  _pages/create/documents/2018-05-10-create-documents.md
  _pages/create/documents/2018-05-15-create-presentations.md
  _pages/create/documents/2018-05-15-create-spreadsheets.md
  _pages/create/documents/2018-05-28-create-universal-design.md
  _pages/create/documents/2018-05-29-create-pdfs.md
  _pages/create/documents/training-videos/2020-01-07-create-presentations-training-videos.md
  _pages/create/documents/training-videos/2020-10-30-create-universal-design-video-series.md
  _pages/create/electronic-signatures/2019-12-12-create-electronic-signatures.md
  _pages/manage/2018-05-25-manage-reporting.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
Owners: @alexwilsongsa

Defect reduction
  _includes/tagline.html
  _pages/manage/2018-05-28-manage-roles.md
  _pages/manage/2018-05-28-manage-teach-staff-about-accessibility.md
  _pages/manage/2018-05-29-manage-publish-accessible-content.md
  _pages/manage/2018-05-29-manage-track-report-conformance.md
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

fixing broken links
  _pages/manage/2018-05-29-manage-program-roadmap.md
Owners: @alexwilsongsa

added files
  _includes/tagline.html
  _pages/content-pages/2018-05-22-training-presentations-workshops.md
  _pages/manage/2018-05-28-manage-roles.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

reverting back to svg
  _includes/tagline.html
Owners: @drewnielson, @michaelhortongsa

added icons to main page and defect resolved for manage page
  _assets/images/icons/art-icon.svg
  _assets/images/icons/program-manager-icon.svg
  _includes/tagline.html
  _pages/manage/2018-05-28-manage-identify-user-needs.md
  _pages/manage/2018-05-28-manage-program-management.md
  _pages/manage/2018-05-28-manage-support-accessible-content.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding art
  _includes/meta_art.html
  _layouts/base_art.html
  _layouts/default_art.html
  _layouts/wide_art.html
  art/bootstrap.min.css
  art/dart.js
  art/dart_getmodal.js
  art/index.html
  art/jquery-1.9.1.min.js
  art/jquery.cookie-1.3.1.js
  art/jquery.steps.css
  art/jquery.steps.js
  art/main.css
  art/modal.css
  art/normalize.css
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Update _config.yml
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Fixing defects
  _pages/content-pages/2018-05-08-tools-coordinator-listing.md
  _pages/manage/2018-05-25-manage-reporting.md
  _pages/manage/2018-05-28-manage-identify-user-needs.md
  _pages/manage/2018-05-28-manage-roles.md
  _pages/manage/2018-05-28-manage-understand-scope-technical-requirements.md
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-laws-and-policies-update-agency-policies.md
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _pages/manage/2018-05-29-manage-reporting-faq.md
Owners: @alexwilsongsa

internal link fixes
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-06-12-blog-OMB-508-agency-report-for-august.md
  _posts/2017-06-29-blog-section-508-transition-activities-update.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  _posts/2017-12-05-blog-section-508-refresh.md
  _posts/2018-02-01-blog-5-Ways-Universal-Design-Makes-Products-More-Accessible.md
  _posts/2018-02-26-blog-infographic-the-case-for-universal-design.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  _posts/2018-04-23-blog-ACoP-on-the-Road-CSUN-Assistive-Technology-Conference.md
  _posts/2018-05-17-blog-Global-Accessibility-Awareness-Day-2018.md
  _posts/2018-06-01-blog-section508-facelift.md
  _posts/2018-07-18-blog-Introducing-Accessibility-for-Teams.md
  _posts/2018-08-02-blog-Compliance-or-Conformance.md
  _posts/2018-08-07-blog-Collaborating-for-Better-Design-Technology-and-User-Experience.md
  _posts/2018-08-30-blog-Barriers-to-Accessibility-Stories-from-Our-Community.md
  _posts/2018-09-25-blog-2018-interagency-accessibility-forum.md
  _posts/2018-09-25-blog-executive-guide-to-federal-IT-accessibility-released.md
  _posts/2020-04-02-blog-making-agency-communications-accessible-everyone.md
Owners: @alexwilsongsa

corrected paths for missing images and all bug fixes for blog pages
  _assets/css/index.scss
  _includes/blog-landing-sidenav.html
  _includes/blog-sidenav.html
  _layouts/wide.html
  _pages/content-pages/2020-08-27-iaaf.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/content-pages/2020-09-28-iaaf-biographies.md
  _posts/2017-01-03-blog-microsoft-journey-to-accessibility.md
  _posts/2017-01-09-blog-access-board-updates-ict-requirements.md
  _posts/2017-01-10-blog-new-section-508-rule.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-03-13-blog-microsoft-enhances-tests-accessibility.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-05-09-blog-e-recruiting-and-accessibility.md
  _posts/2017-05-18-blog-celebrate-global-accessibility-awareness-day-2017.md
  _posts/2017-06-12-blog-OMB-508-agency-report-for-august.md
  _posts/2017-06-12-blog-section-508-community-of-practice-events-move-from-NSF-to-GSA.md
  _posts/2017-06-29-blog-section-508-transition-activities-update.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  _posts/2017-11-09-blog-accessibility-requirements-tool-coming-soon.md
  _posts/2017-11-10-blog-accessibility-news-the-section-508-Update.md
  _posts/2017-12-05-blog-section-508-refresh.md
  _posts/2017-12-12-blog-do-section-508-accessibility-standards-apply-to-mywebsite.md
  _posts/2017-12-13-blog-Universal-Design-What-is-it.md
  _posts/2017-12-20-blog-universal-design-whats-in-it-for-me.md
  _posts/2018-01-17-blog-Accessibility-Requirements-Tool-is-Live.md
  _posts/2018-02-01-blog-5-Ways-Universal-Design-Makes-Products-More-Accessible.md
  _posts/2018-02-26-blog-infographic-the-case-for-universal-design.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  _posts/2018-04-25-blog-DHS-Trusted-Tester-Program-Updates.md
  _posts/2018-05-17-blog-Global-Accessibility-Awareness-Day-2018.md
  _posts/2018-06-01-blog-section508-facelift.md
  _posts/2018-07-18-blog-Introducing-Accessibility-for-Teams.md
  _posts/2018-08-02-blog-Compliance-or-Conformance.md
  _posts/2018-08-07-blog-Collaborating-for-Better-Design-Technology-and-User-Experience.md
  _posts/2018-08-30-blog-Barriers-to-Accessibility-Stories-from-Our-Community.md
  _posts/2018-09-25-blog-2018-interagency-accessibility-forum.md
  _posts/2018-09-25-blog-executive-guide-to-federal-IT-accessibility-released.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
  _posts/2020-04-02-blog-making-agency-communications-accessible-everyone.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

added a new collection in config
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

minor change
  _includes/past-events.html
Owners: @drewnielson, @michaelhortongsa

jekyl rendering error fix
  _includes/past-events.html
Owners: @drewnielson, @michaelhortongsa

blog pages link fixes
  _posts/2018-02-26-blog-infographic-the-case-for-universal-design.md
  _posts/2018-08-30-blog-Barriers-to-Accessibility-Stories-from-Our-Community.md
  _posts/2018-09-25-blog-executive-guide-to-federal-IT-accessibility-released.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
Owners: @alexwilsongsa

content fixes
  _includes/past-events.html
  _includes/recurring-events.html
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-05-09-blog-e-recruiting-and-accessibility.md
  _posts/2017-12-13-blog-Universal-Design-What-is-it.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
  _posts/2020-04-02-blog-making-agency-communications-accessible-everyone.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

events landing page
  _includes/past-events.html
Owners: @drewnielson, @michaelhortongsa

events landing page fix
  _includes/past-events.html
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

events landing page layout fix
  _includes/past-events.html
Owners: @drewnielson, @michaelhortongsa

minor change
  _includes/past-events.html
Owners: @drewnielson, @michaelhortongsa

fixing for the broken div on events landing page
  _includes/past-events.html
Owners: @drewnielson, @michaelhortongsa

fixing the tab accessibility issue for the blog topics page
  _layouts/tag_index.html
Owners: @drewnielson, @michaelhortongsa

training presentations workshops page
  _pages/content-pages/2018-05-22-training-presentations-workshops.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  _posts/2017-12-12-blog-section-508-refresh.md
Owners: @alexwilsongsa

new recurring event pages
  _assets/css/index.scss
  _events/2021-08-03-it-accessibility-community-meetings.md
  _events/2021-08-16-section-508-program-maturity-report.md
  _events/2021-09-23-section-508-best-practices-webinars.md
  _events/2021-10-12-iaaf.md
  _includes/past-events.html
  _includes/recurring-events.html
  _includes/upcoming-events.html
  blog/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

new recurring events and the WCAG page
  _assets/css/index.scss
  _config.yml
  _events/2020-09-10-feed-meeting.md
  _events/2021-06-12-iaaf.md
  _events/2021-06-16-section-508-program-maturity-report.md
  _events/2021-06-21-m-enabling-summit.md
  _events/2021-06-23-section-508-best-practices-webinars.md
  _events/2021-07-03-it-accessibility-community-meetings.md
  _layouts/events.html
  _pages/content-pages/2018-05-22-training-presentations-workshops.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

changing the URL of iaaf agenda and iaaf biographies
  _pages/content-pages/2020-08-27-iaaf-archives.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _pages/content-pages/2020-09-28-iaaf-biographies.md
Owners: @alexwilsongsa

adding datatables responsive css cdn
  _events/2020-09-10-feed-meeting.md
  _pages/content-pages/2020-08-27-iaaf-archives.md
  _pages/content-pages/2020-09-24-iaaf-agenda.md
  _posts/2020-06-15-blog-mapping-wcag-to-fpc.md
Owners: @alexwilsongsa

modified files
  art/dart.js
  art/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding sidenav for training
  _data/sidenav.yaml
  _includes/sidenav.html
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-focus-element.md
  _pages/videos/2020-09-11-test-web-software-andi-training-videos-images.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding sidenav for training
  _config.yml
  _pages/create/developer-training/2018-05-08-training.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

changed aria label
  _includes/logo.html
Owners: @drewnielson, @michaelhortongsa

fixing art pages
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

replacing DARt with ART
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed inner page links and remove sans sarif font
  art/dart.js
  art/modal.css
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixed font and manage page
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  art/dart.js
Owners: @alexwilsongsa, @drewnielson, @michaelhortongsa

fixing navigation
  _data/sidenav.yaml
  _includes/sidenav.html
  _pages/content-pages/2018-05-22-test-web-software.md
  _pages/create/developer-training/2018-05-08-training.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing navigation
  _assets/css/index.scss
  _assets/js/app.js
  _data/sidenav.yaml
  _includes/sidenav.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing presentation second link
  _pages/videos/2020-01-07-create-presentations-aed-cop-pptx01.md
Owners: @alexwilsongsa

checking hero image
  _data/sidenav.yaml
  _includes/hero.html
  _pages/videos/2020-01-07-create-presentations-training-videos.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa
