Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

updated footer
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

5609 added footer links (#242)
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

5505 fix broken links (#243)
  Gemfile.lock
  _pages/acquisition/2018-05-29-buy.md
  _pages/acquisition/2020-10-21-buy-solicitation-review-tool.md
  _pages/create/create-accessible-meetings.md
  _pages/develop/2018-05-28-create-universal-design.md
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _pages/training/2018-05-08-training.md
  _posts/2018-02-01-blog-5-Ways-Universal-Design-Makes-Products-More-Accessible.md
  _posts/2018-04-20-blog-how-read-vpat-.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Initial commit of benefits of accessibility page
  _pages/manage/2022-04-05-mangage-benefits-of-accessibility.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Updating bullets for formatting
  _pages/manage/2022-04-05-mangage-benefits-of-accessibility.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Paragraph / <br> formatting fix
  _pages/manage/2022-04-05-mangage-benefits-of-accessibility.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Jekyll update (#244)
  Gemfile
  Gemfile.lock
  _config.yml
  _includes/meta.html
  package-lock.json
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

nav updates
  _data/sidenav.yaml
  _includes/highlights.html
  _pages/manage/2018-05-22-manage.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

move link to "Manage a 508 Program" card
  _pages/manage/2018-05-22-manage.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Update PM List, event permalinks
  _events/2022-02-01-usab-webinar.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Update PM List, event permalinks (#246)
  _events/2022-02-01-usab-webinar.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Add benefits of accessibility (#245)
  _data/sidenav.yaml
  _includes/highlights.html
  _pages/manage/2018-05-22-manage.md
  _pages/manage/2022-04-05-mangage-benefits-of-accessibility.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

April ITACM Event Card
  _events/2022-04-11-apr-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Added close date
  _events/2022-04-11-apr-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

Apr itacm (#247)
  _events/2022-04-11-apr-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa
*.md @drewnielson @michaelhortongsa @alexwilsongsa
