Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

incorporate ART
  Gemfile.lock
  _config.yml
  _includes/meta_art.html
  _layouts/base_art.html
  _layouts/default_art.html
  _layouts/wide_art.html
  art/bootstrap.min.css
  art/dart.js
  art/dart_getmodal.js
  art/index.html
  art/jquery-1.9.1.min.js
  art/jquery.cookie-1.3.1.js
  art/jquery.steps.css
  art/jquery.steps.js
  art/main.css
  art/modal.css
  art/normalize.css
  package-lock.json
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

add ART as is
  _config.yml
  art_as-is/bootstrap.min.css
  art_as-is/footer_banner.png
  art_as-is/header_banner1.jpg
  art_as-is/index.html
  art_as-is/jquery-1.9.1.min.js
  art_as-is/jquery.cookie-1.3.1.js
  art_as-is/jquery.steps.css
  art_as-is/jquery.steps.js
  art_as-is/logo.png
  art_as-is/main.css
  art_as-is/normalize.css
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

nav menu shorten
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fix dialog role
  art/index.html
  art_as-is/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding ds store and idea files to git ignore
  .gitignore
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding blogs
  _posts/2017-01-03-blog-microsoft-journey-to-accessibility.md
  _posts/2017-01-09-blog-access-board-updates-ict-requirements.md
  _posts/2017-01-10-blog-new-section-508-rule.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-03-13-blog-microsoft-enhances-tests-accessibility.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-05-09-blog-e-recruiting-and-accessibility.md
  _posts/2017-05-18-blog-celebrate-global-accessibility-awareness-day-2017.md
  _posts/2017-06-12-blog-OMB-508-agency-report-for-august.md
  _posts/2017-06-12-blog-section-508-community-of-practice-events-move-from-NSF-to-GSA.md
  _posts/2017-06-29-blog-section-508-transition-activities-update.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  _posts/2017-11-09-blog-accessibility-requirements-tool-coming-soon.md
  _posts/2017-11-10-blog-accessibility-news-the-section-508-Update.md
  _posts/2017-12-05-blog-section-508-refresh.md
  _posts/2017-12-12-blog-do-section-508-accessibility-standards-apply-to-mywebsite.md
  _posts/2017-12-13-blog-Universal-Design-What-is-it.md
  _posts/2017-12-20-blog-universal-design-whats-in-it-for-me.md
  _posts/2018-01-17-blog-Accessibility-Requirements-Tool-is-Live.md
  _posts/2018-02-01-blog-5-Ways-Universal-Design-Makes-Products-More-Accessible.md
  _posts/2018-02-01-blog-Revised-508-Standards-Safe-Harbor-and-FAR-Update.md
  _posts/2018-02-26-blog-infographic-the-case-for-universal-design.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  _posts/2018-04-20-blog-how-read-vpat-_0.md
  _posts/2018-04-23-blog-ACoP-on-the-Road-CSUN-Assistive-Technology-Conference.md
  _posts/2018-04-25-blog-DHS-Trusted-Tester-Program-Updates.md
  _posts/2018-05-17-blog-Global-Accessibility-Awareness-Day-2018.md
  _posts/2018-06-01-blog-section508-facelift.md
  _posts/2018-07-18-blog-Introducing-Accessibility-for-Teams.md
  _posts/2018-08-02-blog-Compliance-or-Conformance.md
  _posts/2018-08-07-blog-Collaborating-for-Better-Design-Technology-and-User-Experience.md
  _posts/2018-08-30-blog-Barriers-to-Accessibility-Stories-from-Our-Community.md
  _posts/2018-09-25-blog-2018-interagency-accessibility-forum.md
  _posts/2018-09-25-blog-executive-guide-to-federal-IT-accessibility-released.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
  _posts/2019-01-13-an-extra.md
  _posts/2019-01-14-hello-world.md
  _posts/2019-01-15-second-post.md
  _posts/2019-01-16-third-post.md
  _posts/2020-04-02-blog-making-agency-communications-accessible-everyone.md
Owners: @alexwilsongsa

adding blog layout
  _posts/2017-01-03-blog-microsoft-journey-to-accessibility.md
  _posts/2018-04-20-blog-how-read-vpat-_0.md
Owners: @alexwilsongsa

adding blog layout
  _posts/2017-01-03-blog-microsoft-journey-to-accessibility.md
  _posts/2017-01-09-blog-access-board-updates-ict-requirements.md
  _posts/2017-01-10-blog-new-section-508-rule.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-03-13-blog-microsoft-enhances-tests-accessibility.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-05-09-blog-e-recruiting-and-accessibility.md
  _posts/2017-05-18-blog-celebrate-global-accessibility-awareness-day-2017.md
  _posts/2017-06-12-blog-OMB-508-agency-report-for-august.md
  _posts/2017-06-12-blog-section-508-community-of-practice-events-move-from-NSF-to-GSA.md
  _posts/2017-06-29-blog-section-508-transition-activities-update.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  _posts/2017-11-09-blog-accessibility-requirements-tool-coming-soon.md
  _posts/2017-11-10-blog-accessibility-news-the-section-508-Update.md
  _posts/2017-12-05-blog-section-508-refresh.md
  _posts/2017-12-12-blog-do-section-508-accessibility-standards-apply-to-mywebsite.md
  _posts/2017-12-13-blog-Universal-Design-What-is-it.md
  _posts/2017-12-20-blog-universal-design-whats-in-it-for-me.md
  _posts/2018-01-17-blog-Accessibility-Requirements-Tool-is-Live.md
  _posts/2018-02-01-blog-5-Ways-Universal-Design-Makes-Products-More-Accessible.md
  _posts/2018-02-01-blog-Revised-508-Standards-Safe-Harbor-and-FAR-Update.md
  _posts/2018-02-26-blog-infographic-the-case-for-universal-design.md
  _posts/2018-04-20-blog-how-read-vpat-.md
  _posts/2018-04-23-blog-ACoP-on-the-Road-CSUN-Assistive-Technology-Conference.md
  _posts/2018-04-25-blog-DHS-Trusted-Tester-Program-Updates.md
  _posts/2018-05-17-blog-Global-Accessibility-Awareness-Day-2018.md
  _posts/2018-06-01-blog-section508-facelift.md
  _posts/2018-07-18-blog-Introducing-Accessibility-for-Teams.md
  _posts/2018-08-02-blog-Compliance-or-Conformance.md
  _posts/2018-08-07-blog-Collaborating-for-Better-Design-Technology-and-User-Experience.md
  _posts/2018-08-30-blog-Barriers-to-Accessibility-Stories-from-Our-Community.md
  _posts/2018-09-25-blog-2018-interagency-accessibility-forum.md
  _posts/2018-09-25-blog-executive-guide-to-federal-IT-accessibility-released.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
  _posts/2020-04-02-blog-making-agency-communications-accessible-everyone.md
Owners: @alexwilsongsa

ficing blog url
  _posts/2017-01-03-blog-microsoft-journey-to-accessibility.md
Owners: @alexwilsongsa

ficing blog url
  _posts/2017-01-09-blog-access-board-updates-ict-requirements.md
  _posts/2017-01-10-blog-new-section-508-rule.md
  _posts/2017-01-25-blog-technology-accessibility-playbook-workshop.md
  _posts/2017-03-13-blog-microsoft-enhances-tests-accessibility.md
  _posts/2017-05-05-blog-benefits-accessible-design.md
  _posts/2017-05-09-blog-e-recruiting-and-accessibility.md
  _posts/2017-05-18-blog-celebrate-global-accessibility-awareness-day-2017.md
  _posts/2017-06-12-blog-OMB-508-agency-report-for-august.md
  _posts/2017-06-12-blog-section-508-community-of-practice-events-move-from-NSF-to-GSA.md
  _posts/2017-06-29-blog-section-508-transition-activities-update.md
  _posts/2017-10-13-blog-GSA-Celebrates-Disability-Employment-Awareness-Month.md
  _posts/2017-11-09-blog-accessibility-requirements-tool-coming-soon.md
  _posts/2017-11-10-blog-accessibility-news-the-section-508-Update.md
  _posts/2017-12-05-blog-section-508-refresh.md
  _posts/2017-12-12-blog-do-section-508-accessibility-standards-apply-to-mywebsite.md
  _posts/2017-12-13-blog-Universal-Design-What-is-it.md
  _posts/2017-12-20-blog-universal-design-whats-in-it-for-me.md
  _posts/2018-01-17-blog-Accessibility-Requirements-Tool-is-Live.md
  _posts/2018-02-01-blog-5-Ways-Universal-Design-Makes-Products-More-Accessible.md
  _posts/2018-02-01-blog-Revised-508-Standards-Safe-Harbor-and-FAR-Update.md
  _posts/2018-02-26-blog-infographic-the-case-for-universal-design.md
  _posts/2018-04-23-blog-ACoP-on-the-Road-CSUN-Assistive-Technology-Conference.md
  _posts/2018-04-25-blog-DHS-Trusted-Tester-Program-Updates.md
  _posts/2018-05-17-blog-Global-Accessibility-Awareness-Day-2018.md
  _posts/2018-06-01-blog-section508-facelift.md
  _posts/2018-07-18-blog-Introducing-Accessibility-for-Teams.md
  _posts/2018-08-02-blog-Compliance-or-Conformance.md
  _posts/2018-08-07-blog-Collaborating-for-Better-Design-Technology-and-User-Experience.md
  _posts/2018-08-30-blog-Barriers-to-Accessibility-Stories-from-Our-Community.md
  _posts/2018-09-25-blog-2018-interagency-accessibility-forum.md
  _posts/2018-09-25-blog-executive-guide-to-federal-IT-accessibility-released.md
  _posts/2018-11-06-blog-supporting-empowerment-through-accessibility.md
  _posts/2020-04-02-blog-making-agency-communications-accessible-everyone.md
Owners: @alexwilsongsa

adding ict accessibility page
  _pages/2020-08-04-ict-accessibility.md
Owners: @alexwilsongsa

adding base url variable
  _pages/sample-procurement/2020-11-20-sample-procurement-call-contacthelp-desk-center-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-documents.md
  _pages/sample-procurement/2020-11-20-sample-procurement-fax-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ip-telephones.md
  _pages/sample-procurement/2020-11-20-sample-procurement-management-information-system-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-mobile-application.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machines-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-servers.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone.md
Owners: @alexwilsongsa

adding base url variable
  _pages/sample-procurement/2020-11-20-sample-procurement-call-contacthelp-desk-center-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-cloud-computing.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-content-management-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-data-services-or-information-retrieval-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-desktop-or-portable-computer-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-desktop-or-portable-computer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-digital-camera.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ebooks-reader.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ebooks.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-documents.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-software.md
  _pages/sample-procurement/2020-11-20-sample-procurement-fax-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-gps-navigation-device.md
  _pages/sample-procurement/2020-11-20-sample-procurement-information-content-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-information-kioskstransaction-machines.md
  _pages/sample-procurement/2020-11-20-sample-procurement-internet-and-intranet-websites-and-web-based-content.md
  _pages/sample-procurement/2020-11-20-sample-procurement-intranet-or-internet-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ip-telephones.md
  _pages/sample-procurement/2020-11-20-sample-procurement-keyboard-or-keypad.md
  _pages/sample-procurement/2020-11-20-sample-procurement-management-information-system-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-mobile-application.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machines-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-servers.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-development-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-maintenance-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-and-imaging-input-devices.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-teleconference-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-teleconferencing.md
  _pages/sample-procurement/2020-11-20-sample-procurement-voip-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-application-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-application.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-collaboration-tools.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-information-documentation-and-support.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-training.md
Owners: @alexwilsongsa

adding base url variable
  _pages/2020-08-04-ict-accessibility.md
Owners: @alexwilsongsa

adding art page
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
Owners: @alexwilsongsa

adding art page
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
Owners: @alexwilsongsa

adding contact us
  _pages/contact-us.md
Owners: @alexwilsongsa

adding header and footer
  _assets/css/index.scss
  _assets/images/Section508.gov.png
  _assets/images/Section508.gov.svg
  _assets/images/Section508.gov@2x.png
  _assets/images/logos/gsa-logo.png
  _assets/images/logos/omb-logo.png
  _config.yml
  _includes/footer.html
  _includes/logo.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding header and footer
  _pages/sample-procurement/2020-11-20-sample-procurement-call-contacthelp-desk-center-services.md
Owners: @alexwilsongsa

adding wide layout
  index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

home page changes
  _assets/css/index.scss
  _assets/images/absolutvision.png
  _assets/images/icons/Group-2280.svg
  _assets/images/icons/Icon-awesome-newspaper.svg
  _assets/images/icons/Icon-awesome-shopping-bag.svg
  _assets/images/icons/Icon-awesome-tools.svg
  _assets/images/icons/XMLID_1203_.svg
  _assets/images/icons/auction.svg
  _assets/images/icons/pen.svg
  _assets/images/mission.png
  _assets/images/mission@2x.png
  _includes/hero.html
  _includes/searchgov/form.html
  _includes/tagline.html
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Create structure implemented and condition on sidenav.
  _includes/sidenav.html
  create/applicability-conformance/2018-05-17-create-applicability-conformance.md
  create/authoring-tools/2018-05-17-create-authoring-tools.md
  create/developer-training/2018-05-08-training.md
  create/developer-training/2018-05-21-create-developer-training.md
  create/documents/2018-05-10-create-documents.md
  create/documents/2018-05-15-create-presentations.md
  create/documents/2018-05-15-create-spreadsheets.md
  create/documents/2018-05-15-create-video-social.md
  create/documents/2018-05-17-create-software-websites.md
  create/documents/2018-05-17-create-testing-for-developers.md
  create/documents/2018-05-21-create-web-content.md
  create/documents/2018-05-28-create-universal-design.md
  create/documents/2018-05-29-create-pdfs.md
  create/documents/training-videos/2020-01-07-create-presentations-training-videos.md
  create/documents/training-videos/2020-10-30-create-universal-design-video-series.md
  create/electronic-signatures/2019-12-12-create-electronic-signatures.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa

home page changes
  _assets/css/index.scss
  _assets/images/jo-szczepanska.png
  _assets/images/jo-szczepanska2x.png
  _assets/images/markus.png
  _assets/images/markus@2x.png
  _assets/images/rupixen.png
  _assets/images/rupixen@2x.png
  _includes/highlights.html
  _includes/tagline.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding date in hero image
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

fixing mobile layout
  _assets/css/index.scss
  _includes/highlights.html
Owners: @drewnielson, @michaelhortongsa

removing border
  _assets/css/index.scss
Owners: @drewnielson

Update sidenav.html
  _includes/sidenav.html
Owners: @drewnielson, @michaelhortongsa

changing navigation
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

updating hero file
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

updating nav
  _config.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

footer
  _assets/images/icons/youtube-brands.png
  _includes/footer.html
  _includes/tagline.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding cards
  _includes/highlights.html
Owners: @drewnielson, @michaelhortongsa

cleaning directory structure
  _pages/create/applicability-conformance/2018-05-17-create-applicability-conformance.md
  _pages/create/authoring-tools/2018-05-17-create-authoring-tools.md
  _pages/create/developer-training/2018-05-08-training.md
  _pages/create/developer-training/2018-05-21-create-developer-training.md
  _pages/create/documents/2018-05-10-create-documents.md
  _pages/create/documents/2018-05-15-create-presentations.md
  _pages/create/documents/2018-05-15-create-spreadsheets.md
  _pages/create/documents/2018-05-15-create-video-social.md
  _pages/create/documents/2018-05-17-create-software-websites.md
  _pages/create/documents/2018-05-17-create-testing-for-developers.md
  _pages/create/documents/2018-05-21-create-web-content.md
  _pages/create/documents/2018-05-28-create-universal-design.md
  _pages/create/documents/2018-05-29-create-pdfs.md
  _pages/create/documents/training-videos/2020-01-07-create-presentations-training-videos.md
  _pages/create/documents/training-videos/2020-10-30-create-universal-design-video-series.md
  _pages/create/electronic-signatures/2019-12-12-create-electronic-signatures.md
Owners: @alexwilsongsa

updating manage pages
  _data/sidenav.yaml
  _includes/sidenav.html
  _layouts/page.html
  _pages/content-pages/2018-05-25-manage-reporting.md
  _pages/create/developer-training/2018-05-21-create-developer-training.md
  _pages/manage/2018-05-22-manage.md
  _pages/manage/2018-05-25-manage-reporting.md
  _pages/manage/2018-05-28-manage-identify-user-needs.md
  _pages/manage/2018-05-28-manage-program-management.md
  _pages/manage/2018-05-28-manage-roles.md
  _pages/manage/2018-05-28-manage-support-accessible-content.md
  _pages/manage/2018-05-28-manage-teach-staff-about-accessibility.md
  _pages/manage/2018-05-28-manage-understand-scope-technical-requirements.md
  _pages/manage/2018-05-29-manage-laws-and-policies-international.md
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  _pages/manage/2018-05-29-manage-laws-and-policies-state.md
  _pages/manage/2018-05-29-manage-laws-and-policies-update-agency-policies.md
  _pages/manage/2018-05-29-manage-laws-and-policies.md
  _pages/manage/2018-05-29-manage-program-roadmap.md
  _pages/manage/2018-05-29-manage-publish-accessible-content.md
  _pages/manage/2018-05-29-manage-reporting-faq.md
  _pages/manage/2018-05-29-manage-reporting-guidelines-conformance.md
  _pages/manage/2018-05-29-manage-reporting-guidelines-program-maturity.md
  _pages/manage/2018-05-29-manage-reporting-guidelines-roll-up-metrics.md
  _pages/manage/2018-05-29-manage-track-report-conformance.md
  _pages/manage/2018-06-26-manage-join-the-508-community.md
  _pages/manage/2018-08-13-manage-program-manager-responsibilities.md
  _pages/manage/2019-02-06-manage-reporting-questions.md
  _pages/manage/2020-10-22-manage-improve-digital-dashboard-scores.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

minor changes
  _config.yml
  _includes/footer.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

reverted layout
  blog/index.html
Owners: @alexwilsongsa

fixing the broken URL for blog tags
  _includes/blog-sidenav.html
Owners: @drewnielson, @michaelhortongsa

minor fix
  _includes/blog-sidenav.html
  _layouts/tag_index.html
Owners: @drewnielson, @michaelhortongsa

fixed all Andi link issues for procurement page
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-monitor.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-content-management-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-desktop-or-portable-computer-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-desktop-or-portable-computer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-digital-camera.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ebooks-reader.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ebooks.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-software.md
  _pages/sample-procurement/2020-11-20-sample-procurement-fax-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-information-content-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-information-kioskstransaction-machines.md
  _pages/sample-procurement/2020-11-20-sample-procurement-internet-and-intranet-websites-and-web-based-content.md
  _pages/sample-procurement/2020-11-20-sample-procurement-intranet-or-internet-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ip-telephones.md
  _pages/sample-procurement/2020-11-20-sample-procurement-keyboard-or-keypad.md
  _pages/sample-procurement/2020-11-20-sample-procurement-management-information-system-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-mobile-application.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machines-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-servers.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-development-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-maintenance-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-and-imaging-input-devices.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-teleconference-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-teleconferencing.md
  _pages/sample-procurement/2020-11-20-sample-procurement-voip-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-application-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-application.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-collaboration-tools.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-information-documentation-and-support.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-training.md
Owners: @alexwilsongsa

HTML formatting issues fixing
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-software.md
  _pages/sample-procurement/2020-11-20-sample-procurement-servers.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone-maintenance.md
Owners: @alexwilsongsa
