Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update event details for ITACM meeting
  _events/2026-02-24-feb-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update and rename 2026-02-24-feb-itacm.md to 2026-02-09-feb-itacm.md
  _events/2026-02-09-feb-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update event details for February ITACM meeting
  _events/2026-02-09-feb-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Feb ITACM Event Card (#1229)
  _events/2026-02-09-feb-itacm.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add files via upload
  assets/images/section-508-altgreen-seal.jpg
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add files via upload (#1230)
  assets/images/section-508-altgreen-seal.jpg
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add files via upload
  assets/images/508-logo-seal.png
  assets/images/508-logo-starmark-250.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add files via upload
  assets/images/seals-logos/gsa-seal.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update logo image source and alt text
  _includes/logo.html
Owners: @drewnielson, @michaelhortongsa

Update GSA logo image in footer
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

Add files via upload
  src/assets/images/508-logo-seal.png
  src/assets/images/508-logo-starmark-250.png
  src/assets/images/gsa-seal.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add files via upload
  assets/images/iaaf-banner-2026.jpg
  assets/images/iaaf-date-card-2026.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Revise 2026 IAAF event details and dates
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Revise 2026 IAAF event information and image
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add files via upload
  assets/calendar/calendar-2026-05-21-iaaf.ics
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update event participant description for IAAF
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Clarify Section 508 references in IAAF description
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Fix image source and HTML structure for IAAF 2026
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

IAAF 20226 (#1232)
  _events/events-iaaf-landing.md
  assets/calendar/calendar-2026-05-21-iaaf.ics
  assets/images/iaaf-banner-2026.jpg
  assets/images/iaaf-date-card-2026.png
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update logo image source and integrity attributes for ART header
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update logo image source in section508-header
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

GSA Seal & Section 508 logo update (#1233)
  _includes/footer.html
  _includes/logo.html
  assets/images/508-logo-seal.png
  assets/images/508-logo-starmark-250.png
  assets/images/seals-logos/gsa-seal.png
  src/assets/images/508-logo-seal.png
  src/assets/images/508-logo-starmark-250.png
  src/assets/images/gsa-seal.png
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

adding local environment in angular environments plus build:art:local script to facilitate local ART build (#1217)
  angular.json
  package.json
  src/environments/environment.local.ts
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update GSA Starmark 250 logo and GSA Seal in ART header and footer
  src/app/shared/components/section508-footer/section508-footer.component.html
  src/app/shared/components/section508-header/section508-header.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update ART select button intro text
  src/assets/data/lp-button.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update GSA Starmark 250 logo and GSA Seal in ART header and footer (#1235)
  src/app/shared/components/section508-footer/section508-footer.component.html
  src/app/shared/components/section508-header/section508-header.component.html
  src/assets/data/lp-button.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update accessibility link in footer
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

Change accessibility support link to accessibility statement
  src/app/shared/components/section508-footer/section508-footer.component.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Footer links (#1236)
  _includes/footer.html
  src/app/shared/components/section508-footer/section508-footer.component.html
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update print statement from 'Hello' to 'Goodbye'
  _pages/manage/2026-02-18-pm-competency-guide.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Change creation date to 2026-02-23
  _pages/manage/2026-02-20-pm-competency-guide.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add Section 508 Program Manager Competency Guide link
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add link to Section 508 Program Manager guide
  _pages/manage/2018-05-28-manage-roles.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Revise review date and add related resources
  _pages/manage/2018-08-13-manage-program-manager-responsibilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update creation and update dates in manage-roles.md
  _pages/manage/2018-05-28-manage-roles.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update creation and update dates in manage-team-roles
  _pages/manage/2025-08-11-manage-team-roles-responsibilities.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add files via upload
  _pages/manage/2026-02-20-manage-IT-accessibility-risk.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add accessibility risk matrix color styles
  assets/css/index.scss
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Modify accessibility risk matrix colors
  assets/css/index.scss
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update and rename 2026-02-20-manage-IT-accessibility-risk.md to 2026-02-20-manage-accessibility-risk-management.md
  _pages/manage/2026-02-20-manage-accessibility-risk-management.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
