Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @alexwilsongsa
/_posts/ @alexwilsongsa
/blog/ @alexwilsongsa
*.md @alexwilsongsa

checking hero image
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

checking hero image
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Art modification and home page icons fixing
  _assets/images/icons/art-icon.svg
  _assets/images/icons/program-manager-icon.svg
  _includes/hero.html
  _pages/manage/2018-05-29-manage-laws-and-policies-quick-reference-guide.md
  art/dart.js
  art/index.html
  art/modal.css
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing event url
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding sidenav and changing directory structure
  _data/sidenav.yaml
  _pages/create/2018-05-08-training.md
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-15-create-video-social.md
  _pages/create/2018-05-17-create-authoring-tools.md
  _pages/create/2018-05-17-create-testing-for-developers.md
  _pages/create/2018-05-21-create-developer-training.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/create/2019-12-12-create-electronic-signatures.md
  _pages/create/2020-01-07-create-presentations-training-videos.md
  _pages/create/2020-10-30-create-universal-design-video-series.md
  _pages/develop/2018-05-17-create-applicability-conformance.md
  _pages/develop/2018-05-17-create-software-websites.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/develop/2018-05-28-create-universal-design.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
  _pages/training/2018-05-15-tools-playbooks.md
  _pages/training/2018-05-22-test-web-software.md
  _pages/training/2018-05-22-tools.md
  _pages/training/2018-05-22-training-presentations-workshops.md
  _pages/training/2020-02-27-content-glossary.md
  _pages/training/2020-10-21-buy-solicitation-review-tool.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding nav
  _config.yml
  _includes/sidenav.html
  _pages/develop/2018-05-17-create-applicability-conformance.md
  _pages/develop/2018-05-17-create-software-websites.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/develop/2018-05-28-create-universal-design.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

create navigation
  _pages/create/2018-05-22-create.md
Owners: @alexwilsongsa

buy pages
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/acquisition/2018-05-24-buy-define-accessibility-criteria.md
  _pages/acquisition/2018-05-29-buy-determine-508-standards-exceptions.md
  _pages/acquisition/2018-05-29-buy-determine-ict-exceptions.md
  _pages/acquisition/2018-05-29-buy-determine-ict-standards.md
  _pages/acquisition/2018-05-29-buy-inventory-your-ict.md
  _pages/acquisition/2018-05-29-buy-request-accessibility-information.md
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2018-05-29-buy.md
  _pages/acquisition/2018-05-29-sell-vpat.md
  _pages/acquisition/2018-05-29-sell.md
  _pages/acquisition/2020-04-07-buy-accessibility-requirements-tool-webinar.md
  _pages/acquisition/2020-10-21-buy-solicitation-review-tool.md
Owners: @alexwilsongsa

create pages
  _data/sidenav.yaml
  _pages/create/2018-05-22-create.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

fixing web content page
  _pages/develop/2018-05-21-create-web-content.md
Owners: @alexwilsongsa

fixing acquisition pages
  _data/sidenav.yaml
  _pages/acquisition/2018-05-02-buy-sell.md
  _pages/acquisition/2018-05-24-buy-define-accessibility-criteria.md
  _pages/acquisition/2018-05-29-buy-determine-508-standards-exceptions.md
  _pages/acquisition/2018-05-29-buy-determine-ict-exceptions.md
  _pages/acquisition/2018-05-29-buy-determine-ict-standards.md
  _pages/acquisition/2018-05-29-buy-inventory-your-ict.md
  _pages/acquisition/2018-05-29-buy-request-accessibility-information.md
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2018-05-29-buy.md
  _pages/acquisition/2018-05-29-sell-vpat.md
  _pages/acquisition/2018-05-29-sell.md
  _pages/acquisition/2020-10-21-buy-solicitation-review-tool.md
  _pages/content-pages/2018-05-22-test.md
  _pages/content-pages/2018-05-22-tools.md
  _pages/content-pages/2018-09-21-training-presentations-workshops-2018-interagency-accessibility-forum.md
  _pages/create/2018-05-22-create.md
  _pages/manage/2018-05-22-manage.md
  _pages/training/2018-05-22-tools.md
  _pages/training/2020-10-21-buy-solicitation-review-tool.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

design and develop pages
  _pages/develop/2018-05-17-create-applicability-conformance.md
  _pages/develop/2018-05-17-create-software-websites.md
  _pages/develop/2018-05-21-create-web-content.md
  _pages/develop/2018-05-28-create-universal-design.md
Owners: @alexwilsongsa

adding test pages
  _pages/content-pages/2018-05-22-test-testing-overview.md
  _pages/content-pages/2018-05-22-test.md
  _pages/test/2018-05-22-test-about-testing-tools.md
  _pages/test/2018-05-22-test-documents.md
  _pages/test/2018-05-22-test-testing-overview.md
  _pages/test/2018-05-22-test-trusted-tester.md
  _pages/test/2018-05-22-test-web-software.md
  _pages/test/2018-05-22-test.md
  _pages/training/2018-05-22-test-web-software.md
Owners: @alexwilsongsa

create pages
  _pages/create/2018-05-10-create-documents.md
  _pages/create/2018-05-15-create-presentations.md
  _pages/create/2018-05-15-create-spreadsheets.md
  _pages/create/2018-05-15-create-video-social.md
  _pages/create/2018-05-17-create-authoring-tools.md
  _pages/create/2018-05-17-create-testing-for-developers.md
  _pages/create/2018-05-21-create-developer-training.md
  _pages/create/2018-05-22-create.md
  _pages/create/2018-05-29-create-pdfs.md
  _pages/create/2020-01-07-create-presentations-training-videos.md
  _pages/training/2018-05-08-training.md
Owners: @alexwilsongsa

fixing sidenav
  _data/sidenav.yaml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

updated index file
  art/index.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding title
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

updated all help pages
  art/dart.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

training landing pages
  _pages/create/2019-12-12-create-electronic-signatures.md
  _pages/create/2020-01-07-create-presentations-training-videos.md
  _pages/create/2020-01-22-create-documents-training-videos.md
  _pages/create/2020-01-22-create-pdfs-training-videos.md
  _pages/create/2020-01-22-create-spreadsheets-training-videos.md
  _pages/videos/2020-01-07-create-presentations-training-videos.md
Owners: @alexwilsongsa

fixing sidenav
  _includes/blog-sidenav.html
  _includes/sidenav.html
Owners: @drewnielson, @michaelhortongsa

added links to hero page and nav page
  _includes/highlights.html
  _includes/tagline.html
Owners: @drewnielson, @michaelhortongsa

added links
  _config.yml
  _includes/footer.html
  _includes/hero.html
  _includes/tagline.html
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding syncronized media pages
  _pages/create/create-accessible-meetings.md
  _pages/create/create-synchronized-media.md
Owners: @alexwilsongsa

added footer links
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

added view all links
  _includes/highlights.html
Owners: @drewnielson, @michaelhortongsa

adding traning videos
  _data/sidenav.yaml
  _pages/create/2020-01-22-create-documents-training-videos.md
  _pages/create/2020-01-22-create-pdfs-training-videos.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

adding traning videos
  _pages/create/2018-05-10-create-documents.md
Owners: @alexwilsongsa

adding traning videos
  _pages/create/2018-05-15-create-presentations.md
Owners: @alexwilsongsa

adding traning videos
  _pages/create/2018-05-15-create-spreadsheets.md
Owners: @alexwilsongsa

fixing sidenav
  _includes/sidenav.html
Owners: @drewnielson, @michaelhortongsa

fixing tab issue for sidenav
  _assets/css/index.scss
Owners: @drewnielson

contrast error
  _assets/css/index.scss
Owners: @drewnielson

remove title
  _pages/test/2018-05-22-test.md
Owners: @alexwilsongsa

add h4
  _pages/test/2018-05-22-test.md
Owners: @alexwilsongsa

added changes
  _assets/images/logos/omb-logo.png
  _assets/images/logos/usaccess.png
  _config.yml
  _includes/footer.html
  _includes/hero.html
  _includes/highlights.html
  _pages/2018-05-29-buy-accessibility-requirements-tool.md
  _pages/sample-procurement/2020-11-20-sample-procurement-content-management-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-development-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-maintenance-services.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa

Revert "Fix508"
  _assets/css/index.scss
  _pages/test/2018-05-22-test.md
Owners: @drewnielson, @alexwilsongsa

added links
  _includes/highlights.html
Owners: @drewnielson, @michaelhortongsa

added road map links
  _pages/sample-procurement/2020-11-20-sample-procurement-cloud-computing.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-monitor.md
Owners: @alexwilsongsa

Fixed the title page
  _includes/meta.html
  _includes/meta_art.html
Owners: @drewnielson, @michaelhortongsa

corrected links and matched with PROD
  _pages/sample-procurement/2020-11-20-sample-procurement-cloud-computing.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-based-training.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-monitor.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-computer-printer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-content-management-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-data-services-or-information-retrieval-systems.md
  _pages/sample-procurement/2020-11-20-sample-procurement-desktop-or-portable-computer-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-desktop-or-portable-computer.md
  _pages/sample-procurement/2020-11-20-sample-procurement-digital-camera.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ebooks-reader.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ebooks.md
  _pages/sample-procurement/2020-11-20-sample-procurement-electronic-software.md
  _pages/sample-procurement/2020-11-20-sample-procurement-fax-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-gps-navigation-device.md
  _pages/sample-procurement/2020-11-20-sample-procurement-information-content-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-information-kioskstransaction-machines.md
  _pages/sample-procurement/2020-11-20-sample-procurement-internet-and-intranet-websites-and-web-based-content.md
  _pages/sample-procurement/2020-11-20-sample-procurement-intranet-or-internet-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-ip-telephones.md
  _pages/sample-procurement/2020-11-20-sample-procurement-keyboard-or-keypad.md
  _pages/sample-procurement/2020-11-20-sample-procurement-management-information-system-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-mobile-application.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machine.md
  _pages/sample-procurement/2020-11-20-sample-procurement-multifunction-machines-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-servers.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-smartphone.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-development-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-software-maintenance-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-and-imaging-input-devices.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-teleconference-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-video-teleconferencing.md
  _pages/sample-procurement/2020-11-20-sample-procurement-voip-services.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-application-maintenance.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-application.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-collaboration-tools.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-information-documentation-and-support.md
  _pages/sample-procurement/2020-11-20-sample-procurement-web-based-training.md
Owners: @alexwilsongsa
