Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

un-minify b45fd027 and 10cbab57
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/10cbab57.js
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/b45fd027.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

fix string replacement and incomplete string escaping
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/10cbab57.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

fix incomplete multi-character sanitization
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/b45fd027.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

fix incomplete multi-character sanitization and incomplete string escaping
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/10cbab57.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

fix incomplete string escaping and inefficient regex
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/10cbab57.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

fix inefficient regex
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/b45fd027.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

fix inefficient regex, URL sanitization
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/10cbab57.js
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/b45fd027.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

fix unvalidated dynamic method calls
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/b45fd027.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update nokogiri
  Gemfile.lock
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update nokogiri and other packages
  Gemfile.lock
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Fix CodeQL issues in "Micro-Purchases and Section 508 Requirements" course (#1078)
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/10cbab57.js
  assets/online-training/micro-purchases-and-section-508-requirements/lib/rise/b45fd027.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update nokogiri
  Gemfile.lock
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

remove merge-schedule
  .github/workflows/merge-schedule.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

remove merge-schedule (#1081)
  .github/workflows/merge-schedule.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Revert "remove merge-schedule (#1081)"
  .github/workflows/merge-schedule.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Revert "remove merge-schedule (#1081)" (#1083)
  .github/workflows/merge-schedule.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

add esbuild override
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

add esbuild override (#1084)
  package.json
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

stage draft updates to landing, add placeholders
  _pages/acr-library.md
  _pages/acr-library/2025-04-28-acr-library.md
  _pages/acr-library/2025-04-29-scorm-508-what-is-it.md
  _pages/acr-library/2025-04-29-scorm-eval-acrs.md
  _pages/acr-library/2025-04-29-scorm-ict-exec.md
  _pages/acr-library/2025-04-29-scorm-micro-purchase.md
  _pages/acr-library/2025-04-29-scorm-ms-word.md
  _pages/acr-library/2025-04-29-scorm-procuring-ict.md
  _pages/acr-library/2025-04-29-tool-acr-editor.md
  _pages/acr-library/2025-04-29-tool-art.md
  _pages/acr-library/2025-04-29-tool-srt.md
  assets/images/icons/symbol-docx.png
  assets/images/icons/symbol-html.png
  assets/images/icons/symbol-yaml.png
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Collapse Assessment into one page
  _data/sidenav.yaml
  _pages/manage/2018-05-22-manage.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

delete pages no longer needed
  _data/gwaa_criteria_understanding.yaml
  _data/gwaa_faq.yaml
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-01.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-02.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-03.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-04.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-05.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-06.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-07.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-08.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-09.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-10.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-criteria-11.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-faq.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-instructions.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa-support.md
  _pages/manage/annual-assessment/2023-12-13-manage-gwaa-annual-reports.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Updated two links
  _pages/manage/2018-05-22-manage.md
  _pages/manage/annual-assessment/2023-03-28-manage-gwaa.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update permalinks
  _pages/acr-library/2025-04-29-scorm-eval-acrs.md
  _pages/acr-library/2025-04-29-scorm-ict-exec.md
  _pages/acr-library/2025-04-29-tool-art.md
  _pages/acr-library/2025-04-29-tool-srt.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update permalinks
  _pages/acr-library/2025-04-29-scorm-508-what-is-it.md
  _pages/acr-library/2025-04-29-scorm-eval-acrs.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

removed link from homepage
  _includes/highlights.html
Owners: @drewnielson, @michaelhortongsa

Content Library - add initial files for Proof of Concept
  _includes/library-cards.html
  _includes/library-filters.html
  _includes/scripts.html
  _pages/content-lirbrary.html
  assets/css/index.scss
  assets/js/isotope.pkgd.min.js
  assets/js/isotope.settings.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Edit tile on Manage page
  _pages/manage/2018-05-22-manage.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

change name to fix loading bug
  _pages/acr-library/2025-04-30-scorm-508-what-is-it.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

more changes to debug
  _pages/acr-library/2025-04-30-scorm-508-what-is-it.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

more changes to debug
  _pages/acr-library/2025-04-30-scorm-508-what-is-it.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

modify symbols, footer
  _includes/footer.html
  _pages/acr-library/2025-04-28-acr-library.md
  _pages/acr-library/2025-04-30-scorm-508-what-is-it.md
  assets/images/icons/symbol-disk-zip.png
  assets/images/icons/symbol-docx.png
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

modify symbols, links
  _includes/footer.html
  _pages/acr-library/2025-04-28-acr-library.md
  assets/images/icons/symbol-docx.png
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

modify symbols
  _pages/acr-library/2025-04-28-acr-library.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update first table
  _pages/acr-library/2025-04-28-acr-library.md
  _pages/acr-library/2025-04-29-scorm-508-what-is-it.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update second table
  _pages/acr-library/2025-04-29-scorm-508-what-is-it.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

JS formatting update
  _includes/scripts.html
  assets/js/isotope.settings.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update 1st table
  _pages/acr-library/2025-04-29-scorm-508-what-is-it.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage IAAF Registration
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update Paragraph break
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Minor comment wording change
  _includes/library-cards.html
Owners: @drewnielson, @michaelhortongsa

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
