Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc

Refactor keyboard management for active filter pills
  _includes/library-cards.html
  assets/css/index.scss
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add Risk Management sub-topic to risk management article
  _pages/manage/2026-02-20-manage-accessibility-risk-management.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Fix sub-topic data attribute generation for library cards
  _includes/library-cards.html
Owners: @drewnielson, @michaelhortongsa

Budget and Business Case First Commit
  _pages/manage/2026-03-24-manage-business-case-for-section508.md
  _pages/manage/2026-03-25-manage-budget-for-a-section-508-program.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Fix security vulnerability in generate-content-library
  scripts/generate-content-library-yml.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add update-content-library; remove generate-content-library
  _config.yml
  _data/update-content-library.yml
  scripts/generate-content-library-yml.js
  scripts/update-content-library.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add FY2025 Assessment Downloads files
  _data/content-library-documents.yml
  _data/update-content-library.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add content library links to secondary banner, quick links, training landing page, and footer
  _config.yml
  _includes/highlights.html
  _pages/tools/2026-03-24-content-library.html
  _pages/training/2018-05-07-training-landing.md
  assets/images/thumbnails/thumb-content-library-col3.png
  assets/images/thumbnails/thumb-training-toolbox-col3.png
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Add content library link to footer
  _includes/footer.html
Owners: @drewnielson, @michaelhortongsa

Update topic for FY2025 data downloads
  _data/content-library-documents.yml
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Restructure content library components to reduce redundant computation in build
  _includes/library-cards.html
  _includes/library-filters.html
  _pages/tools/2026-03-24-content-library.html
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Add to sidenav and Tools Overview page
  _data/sidenav.yaml
  _pages/tools/2018-05-08-tools-landing.md
  _pages/training/2018-05-07-training-landing.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Change Reset Filter styling when filters are selected
  _includes/library-filters.html
  assets/js/content-library.js
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage changes to position descriptions page behaviors, not content
  _pages/manage/2025-07-21-Section-508-tester-pd.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

add resource link to policy template
  _pages/manage/2025-09-18-manage-policy-template.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Fix display of disabled filters when not used
  assets/js/content-library.js
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Edit Content Library title > Section508.gov Content Library
  _pages/tools/2026-03-24-content-library.html
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Updating links and sidenav
  _data/sidenav.yaml
  _pages/manage/2026-03-24-manage-business-case-for-section508.md
  _pages/manage/2026-03-25-manage-budget-for-a-section-508-program.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

update event-registration to trim titles with a | and text e.g., | ITACM, | Webinar; update 2026-03-11 event to use event-registration include
  _events/2026-03-11-mar-usab-webinar.md
  _includes/event-registration.html
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Accordions
  _data/sidenav.yaml
  _pages/manage/2026-03-24-manage-business-case-for-section508.md
  _pages/manage/2026-03-25-manage-budget-for-a-section-508-program.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Minor Updates
  _pages/manage/2026-03-25-manage-budget-for-a-section-508-program.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

misc. fixes
  _pages/create/2018-05-10-create-pdfs-overview.md
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc
