Repository GSA/Section508.gov, changes with the owners that CODEOWNERS names for each.
All owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

bug fix ah contributor bio
  _contributors/haileselassie.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

bug fix ah contributor bio (#1114)
  _contributors/haileselassie.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage updates to URI alias, agenda changes, and file updates.
  _data/iaaf_sessions.yaml
  _pages/create/2024-05-23-create-alt-text.md
  assets/files/iaaf/2025/IAAF-2025-GSA-Yearly-Activities-Update.pptx
  assets/files/iaaf/2025/IAAF-2025-Navigating-Federal-Acquisitions.pptx
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Stage updates to URI alias, agenda changes, and file updates. (#1115)
  _data/iaaf_sessions.yaml
  _pages/create/2024-05-23-create-alt-text.md
  assets/files/iaaf/2025/IAAF-2025-GSA-Yearly-Activities-Update.pptx
  assets/files/iaaf/2025/IAAF-2025-Navigating-Federal-Acquisitions.pptx
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Stage updates to URI alias
  _pages/tools/2020-02-27-tools-glossary-terms.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage updates to URI alias (#1116)
  _pages/tools/2020-02-27-tools-glossary-terms.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage updates to URI alias
  _pages/acr-library/2025-04-28-acr-library.md
  _pages/manage/2018-06-26-manage-join-the-508-community.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage updates to URI alias (#1117)
  _pages/acr-library/2025-04-28-acr-library.md
  _pages/manage/2018-06-26-manage-join-the-508-community.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

jekyll version update
  Gemfile
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update index.scss
  assets/css/index.scss
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update hero.html
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Update hero.html
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Update hero.html
  _includes/hero.html
Owners: @drewnielson, @michaelhortongsa

Update 2025-05-13-byte-009.md
  _posts/2025-05-13-byte-009.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Hero Update to Bytes #9 (#1118)
  _includes/hero.html
  _posts/2025-05-13-byte-009.md
  assets/css/index.scss
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

scrub iaaf landing
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

rescale hero image again
  assets/images/hero-virtual-meeting.jpg
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

scrub iaaf landing (#1119)
  _events/events-iaaf-landing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update dod
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update formatting
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update formatting
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update formatting
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Misc 28May25 (#1120)
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update IAAF files, PM List
  _pages/training/2018-05-08-tools-coordinator-listing.md
  assets/files/iaaf/2025/IAAF-2025-Enhancing-Your-Section-508-Assessment.pptx
  assets/files/iaaf/2025/IAAF-2025-Project-Managing-Accessibility-Compliance.pptx
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update formatting line breaks
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update formatting line breaks again
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update30may2025 (#1121)
  _pages/training/2018-05-08-tools-coordinator-listing.md
  assets/files/iaaf/2025/IAAF-2025-Enhancing-Your-Section-508-Assessment.pptx
  assets/files/iaaf/2025/IAAF-2025-Project-Managing-Accessibility-Compliance.pptx
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update PM list, links to CCA
  _pages/test/2018-05-22-test-web-software.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update PM list, links to CCA (#1122)
  _pages/test/2018-05-22-test-web-software.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

add event
  _events/2025-06-03-jun-usab-webinar.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update to external link
  _events/2025-06-03-jun-usab-webinar.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Update03june2025b (#1123)
  _events/2025-06-03-jun-usab-webinar.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update DOD
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

update DOD (#1124)
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage homepage quicklinks update
  _includes/tagline.html
Owners: @drewnielson, @michaelhortongsa

Stage updates for adding exceptions guidance.
  _data/sidenav.yaml
  _pages/acquisition/2018-05-29-buy-determine-508-standards-exceptions.md
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2025-06-11-buy-understand-exceptions.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

Update P2 and define first terms
  _pages/acquisition/2025-06-11-buy-understand-exceptions.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

Stage updates for adding exceptions guidance. (#1126)
  _data/sidenav.yaml
  _pages/acquisition/2018-05-29-buy-determine-508-standards-exceptions.md
  _pages/acquisition/2018-05-29-buy-standards-exceptions.md
  _pages/acquisition/2025-06-11-buy-understand-exceptions.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @alexwilsongsa, @michaelhortongsa, @kmsoc

stage ttb pm list update, glossary, and broken link.
  _pages/create/2018-05-29-create-pdfs.md
  _pages/tools/2020-02-27-tools-glossary-terms.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

stage ttb pm list update, glossary, and broken link. (#1128)
  _pages/create/2018-05-29-create-pdfs.md
  _pages/tools/2020-02-27-tools-glossary-terms.md
  _pages/training/2018-05-08-tools-coordinator-listing.md
Owners: @drewnielson, @michaelhortongsa, @alexwilsongsa, @kmsoc

CODEOWNERS:

# Global owners
* @drewnielson @alexwilsongsa @michaelhortongsa @kmsoc

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson @michaelhortongsa
/_assets/js/ @drewnielson @michaelhortongsa
/_plugins/ @drewnielson @michaelhortongsa
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/_posts/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
/blog/ @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
*.md @drewnielson @michaelhortongsa @alexwilsongsa @kmsoc
